# -----------------------------------------------------------------------------
#- BlackIce constraint file (.pcf)
#- By Jesus Arroyo Torrens
#- January - 2018
#- GPL license
# -----------------------------------------------------------------------------


# ------------ System clock ---------------------------------------------------
set_io --warn-no-port CLK 129  # input


# ------------ LEDs map -------------------------------------------------------
#            ______                ______
#        ___|      |______________|      |___
#       |   |______|              |______|   |
#       |    ####                           _|__
#       |  LED1...LED4                     |    |
#       |                                  |    |
#       |                                  |____|
#       |                                   _|__
#       |                                  |    |
#       |                                  |    |
#       |                                  |____|
#       |_                                  _|__
#       |_|                                |    |
#       |_                                 |    |
#       |_|                                |____|
#       |    ______     ______     ______    |
#       |___|      |___|      |___|      |___|
#           |______|   |______|   |______|
#
# --   LED1: Blue
# --   LED2: Green
# --   LED3: Yellow
# --   LED4: Red

set_io --warn-no-port LED1 71  # output
set_io --warn-no-port LED2 67  # output
set_io --warn-no-port LED3 68  # output
set_io --warn-no-port LED4 70  # output


# ------------ Buttons map ----------------------------------------------------
#            ______                ______
#        ___|      |______________|      |___
#       |   |______|              |______|   |
#       |            [] []     []           _|__
#       |            B2 B1   RESET         |    |
#       |                                  |    |
#       |                                  |____|
#       |                                   _|__
#       |                                  |    |
#       |                                  |    |
#       |                                  |____|
#       |_                                  _|__
#       |_|                                |    |
#       |_                                 |    |
#       |_|                                |____|
#       |    ______     ______     ______    |
#       |___|      |___|      |___|      |___|
#           |______|   |______|   |______|
#

set_io --warn-no-port B1 63  # input
set_io --warn-no-port B2 64  # input
set_io --warn-no-port RESET 128  # input

# RESET = P11 (91) = RST (91)

# ------------ PMOD connectors ------------------------------------------------
#            ______                ______
#        ___|      |______________|      |___
#       |   |______|              |______|   |
#       |     P14                   P13     _|__
#       |                                  |    |
#       |                                  |    | P11/12
#       |                                  |____|
#       |                                   _|__
#       |                                  |    |
#       |                                  |    | P9/10
#       |                                  |____|
#       |_                                  _|__
#       |_|                                |    |
#       |_                                 |    | P7/8
#       |_|                                |____|
#       |    ______     ______     ______    |
#       |___|      |___|      |___|      |___|
#           |______|   |______|   |______|
#             P1/2       P3/4       P5/6

# -------------| P1 |----------------------------------------------------------
set_io --warn-no-port P10 94
set_io --warn-no-port P11 91
set_io --warn-no-port P12 88
set_io --warn-no-port P13 85

# P11 = RST = RESET (128)

# -------------| P2 |----------------------------------------------------------
set_io --warn-no-port P20 95
set_io --warn-no-port P21 93
set_io --warn-no-port P22 90
set_io --warn-no-port P23 87

# -------------| P3 |----------------------------------------------------------
set_io --warn-no-port P30 105
set_io --warn-no-port P31 102
set_io --warn-no-port P32 99
set_io --warn-no-port P33 97

# -------------| P4 |----------------------------------------------------------
set_io --warn-no-port P40 104
set_io --warn-no-port P41 101
set_io --warn-no-port P42 98
set_io --warn-no-port P43 96

# -------------| P5 |----------------------------------------------------------
set_io --warn-no-port P50 143
set_io --warn-no-port P51 114
set_io --warn-no-port P52 112
set_io --warn-no-port P53 107

# -------------| P6 |----------------------------------------------------------
set_io --warn-no-port P60 144
set_io --warn-no-port P61 113
set_io --warn-no-port P62 110
set_io --warn-no-port P63 106

# -------------| P7 |----------------------------------------------------------

set_io --warn-no-port P70 10
set_io --warn-no-port P71 9
set_io --warn-no-port P72 2
set_io --warn-no-port P73 1

# -------------| P8 |----------------------------------------------------------
set_io --warn-no-port P80 8
set_io --warn-no-port P81 7
set_io --warn-no-port P82 4
set_io --warn-no-port P83 3

# -------------| P9 |----------------------------------------------------------
set_io --warn-no-port P90 20
set_io --warn-no-port P91 19
set_io --warn-no-port P92 16
set_io --warn-no-port P93 15

# -------------| P10 |----------------------------------------------------------
set_io --warn-no-port P100 18
set_io --warn-no-port P101 17
set_io --warn-no-port P102 12
set_io --warn-no-port P103 11

# -------------| P11 |----------------------------------------------------------
set_io --warn-no-port P110 34
set_io --warn-no-port P111 33
set_io --warn-no-port P112 22
set_io --warn-no-port P113 21

# -------------| P12 |----------------------------------------------------------
set_io --warn-no-port P120 32
set_io --warn-no-port P121 31
set_io --warn-no-port P122 26
set_io --warn-no-port P123 25

# -------------| P13 |----------------------------------------------------------
set_io --warn-no-port P130 37
set_io --warn-no-port P131 38
set_io --warn-no-port P132 39
set_io --warn-no-port P133 41

# -------------| P14 |----------------------------------------------------------
set_io --warn-no-port P140 71
set_io --warn-no-port P141 67
set_io --warn-no-port P142 68
set_io --warn-no-port P143 70

# P140 = LED4 = !SS
# P141 = LED3 = MISO
# P142 = LED2 = MOSI
# P143 = LED1 = SCL

#            ______                ______
#        ___|      |______________|      |___
#       |   |______|              |______|   |
#       |                                   _|__
#       | **                               |    |
#       | **   ······  ············        |    |
#       | **                               |____|
#       | **                                _|__
#       | **                               |    |
#       | **                               |    |
#       | **                               |____|
#       |_                                  _|__
#       |_|                                |    |
#       |_                                 |    |
#       |_|    ········  ··········        |____|
#       |    ______     ______     ______    |
#       |___|      |___|      |___|      |___|
#           |______|   |______|   |______|
#
