.joint-paper-background {
    background: #222;
}

.ice-bar {
    color: white;
    background: #444;
    border-bottom: 1px solid #666;
}

.footer {
    color: white;
    background: #444;
    border-top: 1px solid #666;
}

.dropdown a {
    color: white !important;
}

.navbar-nav>.open>a {
    background: #666 !important;
}

.dropdown-menu>li>a:hover {
    background: #666 !important;
    color: #fff;
}

.dropdown-menu>li>a:focus {
    background: #666 !important;
    color: #fff;
}

.dropdown:active {
    background: #666;
}

.dropdown-menu {
    background: #444 !important;
}

.dropdown-menu>li>a {
    background: #444;
    color: #fff;
}

.dropdown-submenu {
    background: #444;
}

.divider {
    background: #999 !important;
}

.breadcrumbs-container {
    padding-left: 5px;
}

.breadcrumb {
    background: #222;
}

.breadcrumb>.active {
    color: #333;
}

.breadcrumb span {
    color: white;
}

.breadcrumb a {
    color: skyblue;
}

.info {
    color: white;
    background: #444;
}

.info-block .info-render {
    color: #6d6d6d;
}

.markdown-body {
    color: white !important;
}

.markdown-body a {
    color: cornflowerblue;
}

.markdown-body table th {
    background: #444;
    border-color: #777;
}

.markdown-body table td {
    background: #333;
    border-color: #777;
}

.markdown-body pre {
    color: white;
    background: #333;
}

.read-only {
    color: white;
    background: #8A0808af; 
}

.back-button {
    color: skyblue;
    background: #444;
}

.edit-button {
    background: rgba(0,0,0,0);
}

.io-block .io-virtual-content {
    background: #444;
}

.io-block .io-virtual-content .header label {
    color: white; /* !important;*/
    font-weight: bold !important;
}

.sk-cube-grid .sk-cube {
    background-color: white;
}

.spinner-wrapper--bg {
    background-color: #666;
}

/*ICM*/
.icm-menu-button::before {
    background: linear-gradient(#999 20%, transparent 20%, transparent 40%, #999 40%, #999 60%, transparent 60%, transparent 80%, #999 80%)
}
.icm-menu {
    background-color: #444;
}
.icm-morph-shape {
    fill: #444;
}
.icm-icon-list span{
    color: #b8b7ad;
}
/*END_ICM*/

.ajs-dialog {
    background: #444 !important;
}

.ajs-body {
    color: white !important;
}

.ajs-footer {
    background: #444 !important;
}

.ajs-button {
    color: white !important;
    background: #333 !important;
    border-radius: 4px;
}

.ajs-input,
.form-control {
    color: white;
    background-color: #333 !important;
    border: 1px solid #666 !important;
}

.generic-block .generic-content {
    background: #e4e4e4;
    border: 0px solid #777;
}

.io-block .io-fpga-content {
    background:#52b3ff;
    border: 0px solid #777 !important; 

}

.select2-container--default .select2-selection--single {

     border: 0px solid #aaa; 
    border-radius: 4px;
    background-color: #7bc5ff;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #333;
}

.select2-selection__clear {
    color: #333;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #333 transparent transparent transparent;
}


.constant-block .constant-content input {
   border: 0px solid #AAA;
    background-color: #ffefae;
}

.io-block .io-fpga-content .header label{
    text-transform:uppercase;
}

.memory-block .memory-content {
    background: #ffcd00; 
    border: 0px solid #777;
}

.constant-block .constant-content{
    background: #ffcd00;
    border: 0px solid #777;
}

.config-block {
    background: #6effc6 !important;
}

.code-block .code-content {
    background: #4a4a4a;
    border: 0px solid #777; 
}

.info-block .info-content {
    background: #4a4a4a;
    border: 1px solid #777;
}

.io-block .io-virtual-content {
     border: 0px solid #777; 
}

.io-block .io-virtual-content {
    border: 0px solid #fff !important;
    background-size: cover !important;
    border-radius:120px !important;
    mix-blend-mode: screen;
   }
 .io-block .io-virtual-content .header {
    margin-top: 12px;
}

.highlight{
  border: 4px solid rgba(255,255,0,1) !important;
  border-radius: 60px;
  width: 120px;
  height: 60px !important;
  position: relative;
  top: -22px;
  padding-top: 18px !important;
  left: -12px;
}
.greyedout{
  opacity: 0.2;
}

/* Label-Finder */
.lFinder-popup{
  display: block;
  opacity: 1;
  position: fixed;
  width: 470px;
  height: 40px;
  background: #444;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  animation: fadeIn 0.2s ease;
}
.lifted{
  opacity: 1;
  top: -100px;
  animation: fadeOut 0.2s ease;
 }
@keyframes fadeIn{
  0%    {opacity: 0;
         top: -100px;}
  100%  {opacity: 1;
         top: 40px;  }
}
@keyframes fadeOut{
  0%    {opacity: 1;
         top: 40px;}
  100%  {opacity: 0;
         top: -100px;  }
}
.lFinder-advanced--toggle {
  position: absolute;
  width: 8px;
  height: 30px;
  top: 5px;
  left: 10px;
  content: url(/resources/images/icons/dark_chevron-right.svg);
  opacity: 0.5;
}
.lFinder-advanced--toggle:hover{
  opacity: 1;
}
.lFinder-advanced--toggle.on{
  transform: rotate(90deg);
}
.lFinder-case--option {
  position: absolute;
  width: 20px;
  height: 30px;
  top: 5px;
  left: 40px;
  content: url(/resources/images/icons/dark_case-sensitive.svg);
  opacity: 0.5;
}
.lFinder-case--option.on {
  opacity: 1;
}
.lFinder-exact--option {
  position: absolute;
  width: 15px;
  height: 30px;
  top: 5px;
  left: 75px;
  content: url(/resources/images/icons/dark_exact-match.svg);
  opacity: 0.5;
}
.lFinder-exact--option.on {
  opacity: 1;
}
.lFinder-field {
  position: absolute;
  width: 155px;
  height: 30px;
  top: 5px;
  left: 105px;
  background: rgba(35,35,35,1);
  border: 0px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  color: rgba(255,255,255,0.75);
  padding-left: 8px;
  line-height: 30px;
  padding-right: 50px;
}
.lFinder-field:focus{
  border-radius: 4px;
  outline: none;
}
.lFinder-field::placeholder{
  color: rgba(255,255,255,0.25);
}
.items-found {
  position: absolute;
  line-height: 30px;
  top: 5px;
  left: 230px;
  color: rgba(255,255,255,0.75);
}
.lFinder-find {
  position: absolute;
  width: 80px;
  height: 30px;
  left: 360px;
  top: 5px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  border: 0px solid #fff;
  border-radius: 4px;
  opacity: 0.5;
  background: rgba(35,35,35,1);
}
.lFinder-find:hover {
  opacity: 1;
}
.lFinder-prev {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 265px;
  color: #fff;
  line-height: 30px;
  border: 0px solid #fff;
  border-radius: 4px;
  text-align: center;
  opacity: 0.5;
  background: rgba(35,35,35,1);
  content: url(/resources/images/icons/dark_left-arrow.svg);
}
.lFinder-prev:hover {
  opacity: 1;
}
.lFinder-next {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 300px;
  color: #fff;
  line-height: 30px;
  border: 0px solid #fff;
  border-radius: 4px;
  text-align: center;
  opacity: 0.5;
  background: rgba(35,35,35,1);
  content: url(/resources/images/icons/dark_right-arrow.svg);
}
.lFinder-next:hover {
  opacity: 1;
}
.lFinder-close {
  position: absolute;
  width: 10px;
  height: 30px;
  top: 0px;
  right: 10px;
  content: url(/resources/images/icons/dark_cross.svg);
  opacity: 0.5;
}
.lFinder-close:hover {
  opacity: 1;
}
.lFinder-advanced {
  position: relative;
  overflow: hidden;
  width: 470px;
  height: 0px;
  top: 45px;
  left: 0px;
  background: #444;
  border-radius: 4px;
  opacity: 0;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  animation: fadeOut_adv 0.2s ease;
}
.lFinder-advanced.show{
  height: 75px;
  opacity: 1;
  animation: fadeIn_adv 0.2s ease;
}
@keyframes fadeIn_adv{
  0%    {opacity: 0;
         height: 0px;}
   100%  {opacity: 1;
         height: 75px;  }
}
@keyframes fadeOut_adv{
  0%    {opacity: 1;
         height: 75px;}
  100%  {opacity: 0;
         height: 0px;  }
}
.lFinder-name {
  position: absolute;
  width: 75px;
  height: 30px;
  left: 10px;
  top: 5px;
  color: rgba(255,255,255,0.5);
  text-align: right;
  line-height: 30px;
}
.lFinder-name--field {
  position: absolute;
  width: 160px;
  height: 30px;
  top: 5px;
  left: 90px;
  background: rgba(35,35,35,1);
  border: 0px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  color: rgba(255,255,255,0.75);
  padding-left: 8px;
  line-height: 30px;
  padding-right: 8px;
}
.lFinder-name--field:focus{
  border-radius: 4px;
  outline: none;
}
.lFinder-color {
  position: absolute;
  width: 75px;
  height: 30px;
  top: 40px;
  left: 10px;
  text-align: right;
  color: rgba(255,255,255,0.5);
  line-height: 30px;
}
.lFinder-color--dropdown{
  position: fixed;
  width: 160px;
  height: 30px;
  background: #232323;
  left: 90px;
  top: 85px;
  border-radius: 4px;
}
.lf-dropdown-title{
  position: relative;
  width: 160px;
  height: 30px;
  background: rgba(0,0,0,0);
  border-radius: 4px;
  line-height: 30px;
  padding-left: 25px;
  color: rgba(255,255,255,0.5);
}
.lf-selected-color{
  position: absolute;
  width: 10px;
  height: 10px;
  left: 8px;
  top: 10px;
  border-radius: 5px;
  border: none !important;
}
.lf-dropdown-icon{
  content: url(/resources/images/icons/dark_chevron-right.svg);
  position: absolute;
  height: 10px;
  width: 10px;
  right: 8px;
  top: 10px;
  transform: rotate(90deg);
}
.lf-dropdown-menu{
  width: 160px;
  height: 0px;
  position: relative;
  top: 0px;
  border-radius: 0 0 4px 4px;
  background: #232323;
  overflow-y: auto;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  animation: fadeOut_dropdown 0.2s ease;
}
.lf-dropdown-menu.show{
  height: 300px;
  animation: fadeIn_dropdown 0.2s ease;
}
@keyframes fadeIn_dropdown{
  0%    {opacity: 0;
         height: 0px;}
  100%  {opacity: 1;
         height: 300px;  }
}
@keyframes fadeOut_dropdown{
  0%    {opacity: 1;
         height: 300px;}
  100%  {opacity: 0;
         height: 0px;  }
}
.lf-dropdown-option{
  position: relative;
  width: 140px;
  height: 30px;
  color: rgba(255,255,255,0.5);
  line-height: 30px;
  padding-left: 25px;
  border-radius: 4px;
}
.lf-dropdown-option:hover{
  color: rgba(255,255,255,1);
  background: #333;
}
.lf-option-color{
  position: absolute;
  width: 10px;
  height: 10px;
  left: 8px;
  top: 10px;
  border-radius: 5px;
  border: none !important;
}
.lFinder-replace--name {
  position: absolute;
  width: 100px;
  height: 30px;
  background: rgba(31,31,31,1);
  opacity: 0.5;
  color: rgba(255,255,255,1);
  line-height: 30px;
  text-align: center;
  left: 255px;
  top: 5px;
  border-radius: 4px;
}
.lFinder-replace--name:hover{
  opacity: 1;
}
.lFinder-change--color {
  position: absolute;
  width: 100px;
  height: 30px;
  background: rgba(31,31,31,1);
  opacity: 0.5;
  color: rgba(255,255,255,1);
  line-height: 30px;
  text-align: center;
  left: 255px;
  top: 40px;
  border-radius: 4px;
}
.lFinder-change--color:hover {
  opacity: 1;
}
.lFinder-replace--all {
  position: absolute;
  width: 100px;
  height: 30px;
  right: 10px;
  top: 5px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  border: 0px solid #fff;
  border-radius: 4px;
  background: rgba(35,35,35,1);
  opacity: 0.5;
}
.lFinder-replace--all:hover {
  opacity: 1;
}

/* toolbox */
#iceToolbox .title-bar{
  position: relative;
  width: 100%;
  height: 30px;
  border-radius: 4px;
  color: #bebebe;
  line-height: 26px;
  padding-left: 10px;
}
.closeToolbox-button{
  position: absolute;
  width: 10px;
  height: 10px;
  right: 8px;
  content: url(/resources/images/icons/dark_cross.svg);
  top: 8px;
  text-align: center;
  line-height: 30px;
  opacity: 0.5;
}
.closeToolbox-button:hover{
  opacity: 1;
}
#iceToolbox.opened .dropdown-menu{
  margin-top: 25px;
}

/* Colors */
.color-indianred{
  background: rgba(205,92,92,0.6)  !important;
}
.color-red{
  background:  rgba(255,0,0,0.6) !important;
}
.color-deeppink{
  background:  rgba(255,20,147,0.6) !important;
}
.color-mediumvioletred{
  background:  rgba(199,21,133,0.6) !important;
}
.color-coral{
  background:  rgba(255,127,80,0.6) !important;
}
.color-orangered{
  background:  rgba(255,69,0,0.6)   !important;
}
.color-darkorange{
  background:  rgba(255,140,0,0.6) !important;
}
.color-gold{
  background:  rgba(255,215,0,0.6)  !important;
}
.color-yellow{
  background:  rgba(255,255,0,0.6) !important;
} 
.color-fuchsia{
  background:  rgba(255,0,255,0.6) !important;
}
.color-slateblue{
  background:  rgba(106,90,205,0.6) !important;
}
.color-greenyellow{
  background:  rgba(173,255,47,0.6) !important;
}
.color-springgreen{
  background:  rgba(0,255,127,0.6)  !important;
}
.color-darkgreen{
  background:  rgba(0,100,0,0.6)  !important;
}
.color-olivedrab{
  background:  rgba(107,142,35,0.6)!important;
}
.color-lightseagreen{
  background:  rgba(32,178,170,0.6) !important;
}
.color-turquoise{
  background:  rgba(64,224,208,0.6) !important;
}
.color-steelblue{
  background:  rgba(70,130,180,0.6) !important;
}
.color-deepskyblue{
  background:  rgba(0,191,255,0.6)  !important;
}
.color-royalblue{
  background:  rgba(65,105,225,0.6) !important;
}
.color-navy{
  background:  rgba(0,0,128,0.6)  !important;
}
.color-lightgray{
  background:  rgba(180,180,180,0.6)  !important;
}


.markdown-body pre>code {
  color:#2ecc71;
}

.markdown-body pre{
  background:#222;
  border-color:white;
  border-radius:5px;
}

.icon--verify{
  display:block;
  width:100%;
  height:100%;
  min-height:100%;
  background:url(../../images/icons/verify_dark.svg) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon--build{
  display:block;
  width:100%;
  height:100%;
  min-height:100%;
  background:url(../../images/icons/build_dark.svg) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon--upload{
  display:block;
  width:100%;
  height:100%;
  min-height:100%;
  background:url(../../images/icons/upload_dark.svg) center center;
  background-repeat: no-repeat;
  background-size: contain;
}