#paper {
  top: -20px;
  position: relative;
  display: inline-block;
  background: transparent;
  overflow: hidden;
  cursor: default;
}

#paper svg {
  background: transparent;
  position: relative;
  z-index: 0;
}

#footer {
  position: absolute;
  cursor: default;
  bottom: -5px;
  width: 100%;
  z-index: 1501;
}

#breadcrumbs {
  margin-bottom: 5px;
  border-radius: 0px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
}

#breadcrumbs>li {
  color: #333;
}

#breadcrumbs>li>a:hover {
  text-decoration: none;
}

#board {
  position: absolute;
  bottom: 12px;
  right: 15px;
}

#read-only {
  font-family: Courier New;
  font-size: 15px;
  color: #EB2222;
  background-color: white;
  border-radius: 5px;
  cursor: default;
  position: absolute;
  right: 30px;
  z-index: 1501;
}

#back-button {
  font-family: Courier New;
  font-size: 15px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 100px;
  right: 30px;
  z-index: 1501;
}

.disable-graph {
  pointer-events: none;
}

.generic-block {
  position: absolute;
  background: #C0DFEB;
  border-radius: 5px;
  border: 2px solid #888;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
}

.config-block {
  background: #fafacd;
}

.generic-block img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
}

.generic-block label {
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 1em;
  color: #444;
}

.virtual-port {
  position: absolute;
  background: #E2FBC9;
  border-radius: 5px;
  border: 2px solid #888;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
}

.virtual-port label {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 1em;
  color: #444;
}

.fpga-port {
  position: absolute;
  background: #FBFBC9;
  border-radius: 5px;
  border: 2px solid #888;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
}

.fpga-port label {
  display: block;
  margin-top: 3px;
  margin-bottom: 4px;
  text-align: center;
  font-size: 1em;
  color: #444;
}

.fpga-port div p {
  position: relative;
  top: 0px;
  left: -20px;
  float: left;
}

.fpga-port div .select2 {
  position: relative;
  width: 82px;
  left: 5px;
  margin-bottom: 4px;
  pointer-events: auto;
}

.select2-selection__rendered {
  font-size: 13px;
}

.bigdrop {
  width: 92px !important;
  font-size: 13px;
}

.constant-block {
  position: absolute;
  background: #FBF0C9;
  border-radius: 5px;
  border: 2px solid #888;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
}

.constant-block p {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 1.5em;
  color: #444;
}

.constant-block label {
  display: block;
  margin-top: 4px;
  text-align: center;
  font-size: 1em;
  color: #444;
}

.constant-block input {
  position: absolute;
  text-align: center;
  left: 5px;
  bottom: 5px;
  width: 82px;
  pointer-events: auto;
}

.code-block {
  position: absolute;
  background: #C0DFEB;
  border-radius: 5px;
  border: 2px solid #888;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
}

.code-block .code-editor {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  height: 93%;
  border-radius: 5px;
  border: 1px solid #BBB;
  pointer-events: auto;
}

.info-block {
  position: absolute;
  background: #DDD;
  border-radius: 5px;
  border: 2px solid #888;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
}

.info-block .info-editor {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  height: 93%;
  border-radius: 5px;
  border: 1px solid #BBB;
  pointer-events: auto;
}

.port-body:hover {
  fill: yellow;
}

.highlight {
  box-shadow: 0 0 30px 0 rgba(200,200,200,1);
}

.selectionarea {
  position: absolute;
  border: 2px solid #EB2222;
  opacity: .7;
  overflow: visible;
  z-index: 1500;
}

.selectionarea.selected {
  background-color: transparent;
  border: none;
  opacity: 1;
  cursor: move;
  /* Position the selection rectangle static so that the selection-boxe are contained within
   the paper container (which is supposed to be positioned relative). The height 0 !important
   makes sure the selection rectangle is not-visible, only the selection-boxes inside it (thanks to overflow: visible). */
  position: static;
  height: 0 !important;
}

.selection-box {
  position: absolute;
  border: 2px dashed #EB2222;
  opacity: .7;
  border-radius: 5px;
  z-index: 1500;
}

/* Wires makers */

.joint-link.joint-theme-default .connection-wrap {
    stroke: #000000;
    stroke-width: 15;
    stroke-linecap: butt;
    stroke-linejoin: butt;
    opacity: 0;
    cursor: pointer;
}
.joint-link.joint-theme-default .connection-wrap:hover {
    opacity: .4;
    stroke-opacity: .4;
}
.joint-link.joint-theme-default .connection {
    stroke-linejoin: butt;
}
.joint-link.joint-theme-default .link-tools .tool-remove circle {
    fill: #EB2222;
}
.joint-link.joint-theme-default .link-tools .tool-remove path {
    fill: #FFFFFF;
}

/* <circle> element inside .marker-vertex-group <g> element */
.joint-link.joint-theme-default .marker-vertex {
    fill: #64b0ce;
}
.joint-link.joint-theme-default .marker-vertex:hover {
    fill: #317d9b;
    stroke: none;
}

.joint-link.joint-theme-default .marker-arrowhead {
    fill: #64b0ce;
}
.joint-link.joint-theme-default .marker-arrowhead:hover {
    fill: #317d9b;
    stroke: none;
}

/* <circle> element used to remove a vertex */
.joint-link.joint-theme-default .marker-vertex-remove {
    fill: #FFFFFF;
}
