#paper {
  top: -20px;
  position: relative;
  display: inline-block;
  background: transparent;
  overflow: hidden;
  cursor: default;
}

#paper svg {
  background: transparent;
  position: relative;
  z-index: 0;
}

#footer {
  position: absolute;
  cursor: default;
  bottom: -5px;
  width: 100%;
  z-index: 1501;
}

#breadcrumbs {
  margin-bottom: 5px;
  border-radius: 0px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
}

#breadcrumbs>li {
  color: #333;
}

#breadcrumbs>li>a:hover {
  text-decoration: none;
}

#board {
  position: absolute;
  bottom: 12px;
  right: 15px;
}

#read-only {
  font-family: Courier New;
  font-size: 15px;
  color: #EB2222;
  background-color: white;
  border-radius: 5px;
  cursor: default;
  position: absolute;
  right: 30px;
  z-index: 1501;
}

#back-button {
  font-family: Courier New;
  font-size: 15px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 100px;
  right: 30px;
  z-index: 1501;
}

.disable-graph {
  pointer-events: none;
}

.generic-block {
  position: absolute;
  background: #C0DFEB;
  border-radius: 5px;
  border: 1px solid #555;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
}

.generic-block .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: #333;
  background-color: white;
  border: 1px solid #777;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  position: absolute;
  bottom: 100%;
  margin-bottom: 20px;
  left: 50%;
  margin-left: -60px;
}

.generic-block .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: #777 transparent transparent transparent;
}

.generic-block .tooltip-large {
  width: 240px;
  margin-left: -120px;
}

.config-block {
  background: #fafacd;
}

.generic-block img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.generic-block label {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
}

.virtual-port {
  position: absolute;
  background: #E2FBC9;
  border-radius: 5px;
  border: 1px solid #555;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
}

.virtual-port label {
  display: block;
  margin-top: 22px;
  text-align: center;
  font-size: 13px;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fpga-port {
  position: absolute;
  background: #FBFBC9;
  border-radius: 5px;
  border: 1px solid #555;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
}

.fpga-port label {
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 13px;
  height: 18px;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fpga-port div p {
  position: relative;
  top: 0px;
  left: -20px;
  float: left;
}

.fpga-port div .select2 {
  position: relative;
  width: 84px;
  left: 5px;
  margin-bottom: 6px;
  pointer-events: auto;
}

.select2-selection__rendered {
  line-height: 24px !important;
}

.select2-selection {
  font-size: 13px;
  height: 26px !important;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #777;
}

.select2-dropdown {
  border: 1px solid #777;
}

.bigdrop {
  font-size: 13px;
  width: 92px !important;
}

.constant-block {
  position: absolute;
  background: #FBF0C9;
  border-radius: 5px;
  border: 1px solid #555;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
}

.constant-block p {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 1.5em;
  color: #555;
}

.constant-block label {
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 13px;
  height: 18px;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
}

.constant-block input {
  position: absolute;
  text-align: center;
  left: 5px;
  margin-bottom: 6px;
  width: 84px;
  height: 26px;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid #777;
  pointer-events: auto;
}

.code-block {
  position: absolute;
  background: #C0DFEB;
  border-radius: 5px;
  border: 1px solid #555;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
}

.code-block .code-editor {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  height: 93%;
  border-radius: 5px;
  border: 1px solid #BBB;
  pointer-events: auto;
}

.info-block {
  position: absolute;
  background: #DDD;
  border-radius: 5px;
  border: 1px solid #555;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
}

.info-block .info-editor {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  height: 93%;
  border-radius: 5px;
  border: 1px solid #BBB;
  pointer-events: auto;
}

.port-body:hover {
}

.joint-highlight-stroke.joint-theme-default {
  display: none;
}

.highlight-yellow {
  box-shadow: 0 0 8px 8px rgba(248, 248, 160, 0.5);
}

.highlight-green {
  box-shadow: 0 0 8px 8px rgba(217, 250, 184, 0.5);
}

.highlight-orange {
  box-shadow: 0 0 8px 8px rgba(250, 235, 184, 0.5);
}

.highlight-blue {
  box-shadow: 0 0 8px 8px rgba(216, 235, 243, 0.5);
}

.highlight-gray {
  box-shadow: 0 0 8px 8px rgba(221, 221, 221, 0.5);
}

.selectionarea {
  position: absolute;
  border: 1px solid rgba(42, 118, 198, 1);
  background-color: rgba(42, 118, 198, 0.2);
  overflow: visible;
  z-index: 1500;
}

.selectionarea.selected {
  background-color: transparent;
  border: none;
  opacity: 1;
  cursor: move;
  /* Position the selection rectangle static so that the selection-boxe are contained within
   the paper container (which is supposed to be positioned relative). The height 0 !important
   makes sure the selection rectangle is not-visible, only the selection-boxes inside it (thanks to overflow: visible). */
  position: static;
  height: 0 !important;
}

.selection-box {
  position: absolute;
  border: 1px dotted rgba(42, 118, 198, 1);
  background-color: rgba(42, 118, 198, 0.2);
  border-radius: 5px;
  z-index: 1500;
}

/* Wires makers */

.joint-link.joint-theme-default .connection-wrap {
    stroke: #000000;
    stroke-width: 15;
    stroke-linecap: butt;
    stroke-linejoin: butt;
    opacity: 0;
    cursor: pointer;
}
.joint-link.joint-theme-default .connection-wrap:hover {
    opacity: .4;
    stroke-opacity: .4;
}
.joint-link.joint-theme-default .connection {
    stroke-linejoin: butt;
}
.joint-link.joint-theme-default .link-tools .tool-remove circle {
    fill: #EB2222;
}
.joint-link.joint-theme-default .link-tools .tool-remove path {
    fill: #FFFFFF;
}

/* <circle> element inside .marker-vertex-group <g> element */
.joint-link.joint-theme-default .marker-vertex {
    fill: #64b0ce;
}
.joint-link.joint-theme-default .marker-vertex:hover {
    fill: #317d9b;
    stroke: none;
}

.joint-link.joint-theme-default .marker-arrowhead {
    fill: #64b0ce;
}
.joint-link.joint-theme-default .marker-arrowhead:hover {
    fill: #317d9b;
    stroke: none;
}

/* <circle> element used to remove a vertex */
.joint-link.joint-theme-default .marker-vertex-remove {
    fill: #FFFFFF;
}
