/* Webfont: Lato-Black */@font-face {
  font-family: 'SVG-SANS';
  src: url('../resources/fonts/freefont/FreeSerifBold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

* {
  -webkit-user-select: none;
  user-select: none;
  
}
#progress-message{
  overflow:hidden;
}

.notransition {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}

body {
  overflow: hidden;
  margin: 0;
  height: 100%;
  font-family:'LatoWeb';
}

.hidden {
  display: none;
}

.ice-bar {
  background: #f5f6f7;
}

.waiting * {
  cursor: wait !important;
}

.alertify-notifier {
  right: 0 !important;
}

.alertify-notifier.ajs-bottom {
  bottom: 69px;
}

.alertify-notifier .ajs-message {
  cursor: pointer;
}

.alertify-notifier .ajs-message.ajs-success {
  color: #111;
  background: #d4ffad;
  border-color: #a9cc8a;
  border-radius: 5px;
  text-shadow: none;
}

.alertify-notifier .ajs-message.ajs-error {
  color: #111;
  background: #ffb3b6;
  border-color: #ff8084;
  border-radius: 5px;
  text-shadow: none;
}

.alertify-notifier .ajs-message.ajs-warning {
  color: #111;
  background: #fbf7d0;
  border-color: #f5ea8a;
  border-radius: 5px;
  text-shadow: none;
}

.alertify.ajs-in:not(.ajs-hidden) .ajs-dialog {
  -webkit-animation-duration: 10ms;
          animation-duration: 10ms;
}

.alertify .ajs-body .ajs-content p {
  margin-top: 7px;
}

.alertify .ajs-body .ajs-content .ajs-input {
  border-radius: 4px;
}
.alertify .ajs-body .ajs-content .ajs-input{
  width:100%;
 }

 #preview-svg.ajs-input{
   width:auto;
   max-width:100%;
   
 }
.ajs-header {
  display: none;
}

.ajs-footer {
  padding: 8px !important;
  background: white !important;
  border-top: none !important;
}

.checkbox {
  margin-top: 14px;
}

.checkbox+.checkbox {
  margin-top: 0px;
}

.form-group {
  margin: 12px 0 15px;
}

.form-group label {
  margin-bottom: 0px;
}

.form-group select {
  height: 38px;
  margin: 4px;
  border-radius: 4px;
  color: inherit;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

.form-group select:focus {
  outline: #ccc solid 1px !important;
}

input:focus {
  outline: #ccc solid 1px;
}

button:focus {
  outline: #ccc solid 2px;
}

::selection {
  color: #fff;
  background: #3593d2;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

.sk-cube-grid {
  width: 80px;
  height: 80px;
  position:absolute;
  top:0;
  left:0;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

.spinner-wrapper{
  width:100%;
  height:100vh;
  position:fixed;
  overflow:hidden;
  top:0;left:0;
  z-index:999999999999999999999999;
  display:none;
}
body.waiting .spinner-wrapper{
  display:block;
}
.spinner-wrapper--bg{
  width:100%;
  height:100vh;
  position:absolute;
  top:0;left:0;
  overflow:hidden;
z-index:0;
background-color:#7ccff4;
opacity:0.4;
}

.spinner-wrapper--container{
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  margin:auto;
  width:80px;
  height:80px;
  z-index:1;
}
.video-responsive {
  position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
  padding-top: 30px; /* IE6 workaround*/
  height: 0;
  overflow: hidden;
  }
  
  .video-responsive iframe,
  .video-responsive object,
  .video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
  .img-responsive{
    width:100%;
    
  }

  /* START plugin menu */


.icm-menu-wrap a {
	color: #b8b7ad;
}

.icm-menu-wrap a:hover,
.icm-menu-wrap a:focus {
  color: #7ccff4;
  text-decoration:none;
}

.icm-content-wrap {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.icm-content {
	position: relative;
	background: #b4bad2;
}

.icm-content::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
	transition: opacity 0.3s, transform 0s 0.3s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

/* Menu Button */
.icm-menu-button {
	position: fixed;
	z-index: 1000;
	margin: 1em 0 1em 0;
	padding: 0;
	width: 2.5em;
	height: 2.25em;
	border: none;
	text-indent: 2.5em;
	font-size: 1.5em;
	color: transparent;
  background: transparent;
  bottom:30px;
  left:0px;
}

.icm-menu-button::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background: linear-gradient(#7ccff4 20%, transparent 20%, transparent 40%,#7ccff4  40%, #7ccff4 60%, transparent 60%, transparent 80%, #7ccff4 80%);
	content: '';
}

.icm-menu-button:hover {
	opacity: 0.6;
}

/* Close Button */
.icm-close-button {
	width: 16px;
	height: 16px;
	position: absolute;
	right: 1em;
	bottom: 60px;
	overflow: hidden;
	text-indent: 16px;
	border: none;
	z-index: 1001;
	background: transparent;
	color: transparent;
}

.icm-close-button::before,
.icm-close-button::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #95a5a6;
}

.icm-close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.icm-close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Menu */
.icm-menu-wrap {
	position: absolute;
	z-index: 1001;
	width: 300px;
	height: 100%;
	font-size: 1.15em;
	-webkit-transform: translate3d(-300px,0,0);
	transform: translate3d(-300px,0,0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.icm-plugin-icon{
  max-width:36px;
}
.icm-menu {
	background: #373a47;
	width: calc(100% - 120px);
	height: 100%;
  padding: 2em 1em;
 z-index: 9999999;
  position: relative;
}

.icm-icon-list {
  margin-top: 80px;
  position: fixed;
  width: 244px;
}

.icm-icon-list a {
	display: block;
	padding: 0.8em;
}

.icm-icon-list a i {
	opacity: 0.5;
}

.icm-icon-list a span {
	margin-left: 10px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 0.75em;
}

/* Morph Shape */
.icm-morph-shape {
	position: absolute;
	width: 120px;
	height: 100%;
	top: 0;
	right: 0;
	fill: #373a47;
	z-index: 1000;
}

/* Shown menu */
.icm-show-menu .icm-menu-wrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.icm-show-menu .icm-content-wrap {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transform: translate3d(100px,0,0);
	transform: translate3d(100px,0,0);
}

.icm-show-menu .icm-content::before {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* END plugin menu */