
* {
  -webkit-user-select: none;
  user-select: none;
  
}

.notransition {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}

body {
  overflow: hidden;
  margin: 0;
  height: 100%;
  font-family:'LatoWeb';
}

.hidden {
  display: none;
}

.ice-bar {
  background: #f5f6f7;
}

.waiting * {
  cursor: wait !important;
}

.alertify-notifier {
  right: 0 !important;
}

.alertify-notifier.ajs-bottom {
  bottom: 69px;
}

.alertify-notifier .ajs-message {
  cursor: pointer;
}

.alertify-notifier .ajs-message.ajs-success {
  color: #111;
  background: #d4ffad;
  border-color: #a9cc8a;
  border-radius: 5px;
  text-shadow: none;
}

.alertify-notifier .ajs-message.ajs-error {
  color: #111;
  background: #ffb3b6;
  border-color: #ff8084;
  border-radius: 5px;
  text-shadow: none;
}

.alertify-notifier .ajs-message.ajs-warning {
  color: #111;
  background: #fbf7d0;
  border-color: #f5ea8a;
  border-radius: 5px;
  text-shadow: none;
}

.alertify.ajs-in:not(.ajs-hidden) .ajs-dialog {
  -webkit-animation-duration: 10ms;
          animation-duration: 10ms;
}

.alertify .ajs-body .ajs-content p {
  margin-top: 7px;
}

.alertify .ajs-body .ajs-content .ajs-input {
  border-radius: 4px;
}

.ajs-header {
  display: none;
}

.ajs-footer {
  padding: 8px !important;
  background: white !important;
  border-top: none !important;
}

.checkbox {
  margin-top: 14px;
}

.checkbox+.checkbox {
  margin-top: 0px;
}

.form-group {
  margin: 12px 0 15px;
}

.form-group label {
  margin-bottom: 0px;
}

.form-group select {
  height: 38px;
  margin: 4px;
  border-radius: 4px;
  color: inherit;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

.form-group select:focus {
  outline: #ccc solid 1px !important;
}

input:focus {
  outline: #ccc solid 1px;
}

button:focus {
  outline: #ccc solid 2px;
}

::selection {
  color: #fff;
  background: #3593d2;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

.sk-cube-grid {
  width: 80px;
  height: 80px;
  position:absolute;
  top:0;
  left:0;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

.spinner-wrapper{
  width:100%;
  height:100vh;
  position:fixed;
  overflow:hidden;
  top:0;left:0;
  z-index:999999999999999999999999;
  display:none;
}
body.waiting .spinner-wrapper{
  display:block;
}
.spinner-wrapper--bg{
  width:100%;
  height:100vh;
  position:absolute;
  top:0;left:0;
  overflow:hidden;
z-index:0;
background-color:#7ccff4;
opacity:0.4;
}

.spinner-wrapper--container{
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  margin:auto;
  width:80px;
  height:80px;
  z-index:1;
}
