* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

body {
  overflow: hidden;
  margin: 0;
  height: 100%;
}

body.waiting * {
  cursor: progress;
}

.alertify-notifier .ajs-message.ajs-success {
  color: #111;
  background: #c9f7a1;
  border-color: #93ef43;
  border-radius: 5px;
  text-shadow: none;
}

.alertify-notifier .ajs-message.ajs-error {
  color: #111;
  background: #ffb3b6;
  border-color: #ff8084;
  border-radius: 5px;
  text-shadow: none;
}

.alertify-notifier .ajs-message.ajs-warning {
  color: #111;
  background: #fbf7d0;
  border-color: #f5ea8a;
  border-radius: 5px;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}
