* {
  -webkit-user-select: none;
  user-select: none;
}

.notransition {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}

body {
  overflow: hidden;
  margin: 0;
  height: 100%;
}

.hidden {
  display: none;
}

.ice-bar {
  background: #f5f6f7;
}

.waiting * {
  cursor: wait !important;
}

.alertify-notifier {
  right: 0 !important;
}

.alertify-notifier.ajs-bottom {
  bottom: 69px;
}

.alertify-notifier .ajs-message {
  cursor: pointer;
}

.alertify-notifier .ajs-message.ajs-success {
  color: #111;
  background: #d4ffad;
  border-color: #a9cc8a;
  border-radius: 5px;
  text-shadow: none;
}

.alertify-notifier .ajs-message.ajs-error {
  color: #111;
  background: #ffb3b6;
  border-color: #ff8084;
  border-radius: 5px;
  text-shadow: none;
}

.alertify-notifier .ajs-message.ajs-warning {
  color: #111;
  background: #fbf7d0;
  border-color: #f5ea8a;
  border-radius: 5px;
  text-shadow: none;
}

.alertify.ajs-in:not(.ajs-hidden) .ajs-dialog {
  -webkit-animation-duration: 10ms;
          animation-duration: 10ms;
}

.alertify .ajs-body .ajs-content p {
  margin-top: 7px;
}

.alertify .ajs-body .ajs-content .ajs-input {
  border-radius: 4px;
}

.ajs-header {
  display: none;
}

.ajs-footer {
  padding: 8px !important;
  background: white !important;
  border-top: none !important;
}

.checkbox {
  margin-top: 14px;
}

.checkbox+.checkbox {
  margin-top: 0px;
}

.form-group {
  margin: 12px 0 15px;
}

.form-group label {
  margin-bottom: 0px;
}

.form-group select {
  height: 38px;
  margin: 4px;
  border-radius: 4px;
  color: inherit;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

.form-group select:focus {
  outline: #ccc solid 1px !important;
}

input:focus {
  outline: #ccc solid 1px;
}

button:focus {
  outline: #ccc solid 2px;
}

::selection {
  color: #fff;
  background: #3593d2;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}
