
.element .body {
  transition: all .05s ease-in-out;
}
.element:hover .body {
  transform: scale(1.02);
  transform-origin: 50% 50%;
}

.element.ice.highlighted .body {
  stroke: #FF0000;
  stroke-width: 3
}
