

#main-icestudio-load-wrapper--bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 24px;
  animation: progres 3s infinite linear;
  background-color: white;
}
  
@keyframes progres {
  0% {
        width: 0%;
  }

  25% {
        width: 50%;
  }

  50% {
        width: 75%;
  }

  75% {
        width: 85%;
  }

  100% {
        width: 100%;
  }
}

#main-icestudio-load-wrapper.fade-loaded {
  opacity: 0;

}

#main-icestudio-load-wrapper.loaded {
  display: none;
}

#main-icestudio-wrapper {
  position: relative;
  display: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#main-icestudio-wrapper.loaded {
  display: block;
}
 
  