# For the iCESugar Board (iCE40UP5K-QFN48)

set_io LED_G_41 41
set_io LED_R_41 40
set_io LED_B_39 39

set_io SW[0] 18
set_io SW[1] 19
set_io SW[2] 20
set_io SW[3] 21

set_io clk   35

set_io RX_4   4
set_io TX_6   6

set_io USB_DP       10
set_io USB_DN       9
set_io USB_PULLUP   11

# PMOD 1
set_io P1_1_10   10
set_io P1_2_6     6
set_io P1_3_3     3
set_io P1_4_48   48
set_io P1_9_47   47
set_io P1_10_2    2
set_io P1_11_4    4
set_io P1_12_9    9

# PMOD 2
set_io P2_1_46  46
set_io P2_2_44  44
set_io P2_3_42  42
set_io P2_4_37  37
set_io P2_9_36  36 
set_io P2_10_38 38
set_io P2_11_43 43
set_io P2_12_45 45

# PMOD 3
set_io P3_1_34  34 
set_io P3_2_31  31
set_io P3_3_27  27
set_io P3_4_25  25
set_io P3_9_23  23
set_io P3_10_26 26
set_io P3_11_28 28
set_io P3_12_32 32

# PMOD 4
set_io P4_1_32  21
set_io P4_2_20  20
set_io P4_3_19  19
set_io P4_4_18  18

#spi
set_io SPI_SS   16
set_io SPI_SCK  15
set_io SPI_MOSI 17
set_io SPI_MISO 14
