*.DS_Store
*.sconsign.dblite
*.out
*.ini
*.asc
*.bin
*.blif
*.log
*.vcd
*.mo
*.code-workspace
*.swp
*~
app/icerok.capture.raw
app/buildinfo.json
.tmp
dist
cache
docs/_build
node_modules
bower_components
.vscode
app/resources/collection
app/resources/locale/**/*.json
ice-build/

# WebStorm IDE project folder
.idea
