*.DS_Store
*.sconsign.dblite
*.out
*.ini
*.asc
*.bin
*.blif
*.log
*.vcd
*.mo
*.code-workspace
*.swp
*~
.tmp
dist
cache
docs/_build
node_modules
bower_components
.vscode
.idea
app/resources/collection
app/resources/locale/**/*.json
ice-build/
# Temp files for translation process
statistics.txt
readme_table.txt
# Other
icerok.raw
icerok.capture.raw
app/buildinfo.json
collection-default*
