# ECP5 Mini r0.2

# CLK 
LOCATE    COMP "clk_16mhz" SITE "B9";
IOBUF     PORT "clk_16mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_16mhz" 16 MHZ;

# Button
LOCATE COMP "btn_usr" SITE "T6";
IOBUF  PORT "btn_usr" PULLMODE=UP     IO_TYPE=LVCMOS33;

# Boot
LOCATE COMP "programn" SITE "R8";
IOBUF  PORT "programn" PULLMODE=NONE  IO_TYPE=LVCMOS33;

# LEDs
LOCATE COMP "led_usr" SITE "B1";
IOBUF  PORT "led_usr" PULLMODE=NONE   IO_TYPE=LVCMOS33;

LOCATE COMP "led_act" SITE "B2";
IOBUF  PORT "led_act" PULLMODE=NONE   IO_TYPE=LVCMOS33;

LOCATE COMP "led_r" SITE "R12";
LOCATE COMP "led_g" SITE "P12";
LOCATE COMP "led_b" SITE "N12";
IOBUF  PORT "led_r" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led_g" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led_b" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "R14";
LOCATE COMP "led[1]" SITE "T14";
LOCATE COMP "led[2]" SITE "T13";
LOCATE COMP "led[3]" SITE "R13";
LOCATE COMP "led[4]" SITE "M6";
LOCATE COMP "led[5]" SITE "M5";
LOCATE COMP "led[6]" SITE "R5";
LOCATE COMP "led[7]" SITE "T4";
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;

# USB
LOCATE COMP "usb_dm" SITE "C9";
LOCATE COMP "usb_dp" SITE "C8";
LOCATE COMP "usb_pu" SITE "E8";
IOBUF  PORT "usb_dm" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "usb_dp" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "usb_pu" PULLMODE=NONE IO_TYPE=LVCMOS33;

# PMOD A
LOCATE COMP "pmod_a[0]" SITE "R15";
LOCATE COMP "pmod_a[1]" SITE "P16";
LOCATE COMP "pmod_a[2]" SITE "M13";
LOCATE COMP "pmod_a[3]" SITE "L13";
LOCATE COMP "pmod_a[4]" SITE "T15";
LOCATE COMP "pmod_a[5]" SITE "R16";
LOCATE COMP "pmod_a[6]" SITE "N14";
LOCATE COMP "pmod_a[7]" SITE "L12";

IOBUF  PORT "pmod_a[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_a[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_a[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_a[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_a[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_a[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_a[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_a[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;

# PMOD B
LOCATE COMP "pmod_b[0]" SITE "L16";
LOCATE COMP "pmod_b[1]" SITE "H12";
LOCATE COMP "pmod_b[2]" SITE "G12";
LOCATE COMP "pmod_b[3]" SITE "J16";
LOCATE COMP "pmod_b[4]" SITE "L15";
LOCATE COMP "pmod_b[5]" SITE "H13";
LOCATE COMP "pmod_b[6]" SITE "G13";
LOCATE COMP "pmod_b[7]" SITE "J15";
IOBUF  PORT "pmod_b[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_b[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_b[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_b[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_b[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_b[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_b[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_b[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;

# PMOD C
LOCATE COMP "pmod_c[0]" SITE "G16";
LOCATE COMP "pmod_c[1]" SITE "F16";
LOCATE COMP "pmod_c[2]" SITE "D16";
LOCATE COMP "pmod_c[3]" SITE "C16";
LOCATE COMP "pmod_c[4]" SITE "H15";
LOCATE COMP "pmod_c[5]" SITE "G15";
LOCATE COMP "pmod_c[6]" SITE "E15";
LOCATE COMP "pmod_c[7]" SITE "C15";
IOBUF  PORT "pmod_c[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_c[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_c[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_c[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_c[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_c[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_c[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_c[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;

# PMOD D
LOCATE COMP "pmod_d[0]" SITE "F15";
LOCATE COMP "pmod_d[1]" SITE "B16";
LOCATE COMP "pmod_d[2]" SITE "D13";
LOCATE COMP "pmod_d[3]" SITE "B12";
LOCATE COMP "pmod_d[4]" SITE "E16";
LOCATE COMP "pmod_d[5]" SITE "B15";
LOCATE COMP "pmod_d[6]" SITE "E13";
LOCATE COMP "pmod_d[7]" SITE "C12";
IOBUF  PORT "pmod_d[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_d[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_d[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_d[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_d[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_d[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_d[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_d[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;

# PMOD E
LOCATE COMP "pmod_e[0]" SITE "F2";
LOCATE COMP "pmod_e[1]" SITE "C1";
LOCATE COMP "pmod_e[2]" SITE "C3";
LOCATE COMP "pmod_e[3]" SITE "E3";
LOCATE COMP "pmod_e[4]" SITE "E1";
LOCATE COMP "pmod_e[5]" SITE "C2";
LOCATE COMP "pmod_e[6]" SITE "D3";
LOCATE COMP "pmod_e[7]" SITE "F3";
IOBUF  PORT "pmod_e[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_e[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_e[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_e[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_e[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_e[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_e[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_e[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;

# PMOD F
LOCATE COMP "pmod_f[0]" SITE "J1";
LOCATE COMP "pmod_f[1]" SITE "G1";
LOCATE COMP "pmod_f[2]" SITE "F1";
LOCATE COMP "pmod_f[3]" SITE "G5";
LOCATE COMP "pmod_f[4]" SITE "J2";
LOCATE COMP "pmod_f[5]" SITE "H2";
LOCATE COMP "pmod_f[6]" SITE "G2";
LOCATE COMP "pmod_f[7]" SITE "G4";
IOBUF  PORT "pmod_f[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_f[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_f[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_f[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_f[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_f[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_f[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_f[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;

# PMOD G
LOCATE COMP "pmod_g[0]" SITE "N1";
LOCATE COMP "pmod_g[1]" SITE "K4";
LOCATE COMP "pmod_g[2]" SITE "L1";
LOCATE COMP "pmod_g[3]" SITE "H5";
LOCATE COMP "pmod_g[4]" SITE "P2";
LOCATE COMP "pmod_g[5]" SITE "K5";
LOCATE COMP "pmod_g[6]" SITE "L2";
LOCATE COMP "pmod_g[7]" SITE "H4";
IOBUF  PORT "pmod_g[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_g[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_g[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_g[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_g[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_g[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_g[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_g[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;

# PMOD H
LOCATE COMP "pmod_h[0]" SITE "R4";
LOCATE COMP "pmod_h[1]" SITE "P4";
LOCATE COMP "pmod_h[2]" SITE "R2";
LOCATE COMP "pmod_h[3]" SITE "P1";
LOCATE COMP "pmod_h[4]" SITE "T3";
LOCATE COMP "pmod_h[5]" SITE "R3";
LOCATE COMP "pmod_h[6]" SITE "T2";
LOCATE COMP "pmod_h[7]" SITE "R1";
IOBUF  PORT "pmod_h[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_h[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_h[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_h[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_h[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_h[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_h[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "pmod_h[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;

# SD Card
LOCATE COMP "sd_dat[0]" SITE "B10";
LOCATE COMP "sd_dat[1]" SITE "A10";
LOCATE COMP "sd_dat[2]" SITE "B11";
LOCATE COMP "sd_dat[3]" SITE "A11";
LOCATE COMP "sd_clk"    SITE "C10";
LOCATE COMP "sd_cmd"    SITE "D10";
LOCATE COMP "sd_det"    SITE "A12";
IOBUF  PORT "sd_dat[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "sd_dat[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "sd_dat[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "sd_dat[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "sd_clk"    PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "sd_cmd"    PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "sd_det"    PULLMODE=NONE IO_TYPE=LVCMOS33;

# HyperRAM  
LOCATE COMP "hr_dq[0]" SITE "A6";
LOCATE COMP "hr_dq[1]" SITE "C4";
LOCATE COMP "hr_dq[2]" SITE "A7";
LOCATE COMP "hr_dq[3]" SITE "B7";
LOCATE COMP "hr_dq[4]" SITE "A8";
LOCATE COMP "hr_dq[5]" SITE "B6";
LOCATE COMP "hr_dq[6]" SITE "D4";
LOCATE COMP "hr_dq[7]" SITE "A5";
LOCATE COMP "hr_nrst"  SITE "B4";
LOCATE COMP "hr_ncs"   SITE "A3";
LOCATE COMP "hr_ck"    SITE "A2";
LOCATE COMP "hr_nck"   SITE "B3";
LOCATE COMP "hr_rwds"  SITE "A4";
IOBUF  PORT "hr_dq[0]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF  PORT "hr_dq[1]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF  PORT "hr_dq[2]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF  PORT "hr_dq[3]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF  PORT "hr_dq[4]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF  PORT "hr_dq[5]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF  PORT "hr_dq[6]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF  PORT "hr_dq[7]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF  PORT "hr_nrst"  PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF  PORT "hr_ncs"   PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF  PORT "hr_ck"    PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF  PORT "hr_nck"   PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF  PORT "hr_rwds"  PULLMODE=NONE IO_TYPE=LVCMOS18;

# Flash
LOCATE COMP "flash_copi" SITE "T8";
LOCATE COMP "flash_cipo" SITE "T7";
LOCATE COMP "flash_wp"   SITE "M7";
LOCATE COMP "flash_hold" SITE "N7";
LOCATE COMP "flash_sck"  SITE "N9";
LOCATE COMP "flash_cs"   SITE "N8";
IOBUF  PORT "flash_copi" IO_TYPE=LVCMOS33;
IOBUF  PORT "flash_cipo" IO_TYPE=LVCMOS33;
IOBUF  PORT "flash_wp"   IO_TYPE=LVCMOS33;
IOBUF  PORT "flash_hold" IO_TYPE=LVCMOS33;
IOBUF  PORT "flash_sck"  IO_TYPE=LVCMOS33;
IOBUF  PORT "flash_cs"   IO_TYPE=LVCMOS33;