
* {
	margin: 0;
	padding: 0;
	transition: all 0.1s ease;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#editor {
	right: 0;
	bottom: 0;
	width: 100%;
	height: 280px;
	opacity: 0.0;
	position: absolute;
	float: bottom;
	visibility: hidden;
}

.warning {
	margin: 5;
	padding: 5;
	font-size: 15;
	bottom: 0;
	position: absolute;
	background-color: #FFF380;
}

.overlay {
   position: absolute;
   bottom: 0;
   right: 20;
}

/*
Styles for nodes and connectors.
*/

.node-rect {
	stroke: #67727A;
	stroke-width: 1;
}

.mouseover-node-rect {
	stroke: #67727A;
	stroke-width: 2;
}

.selected-node-rect {
	stroke: #D75C37;
	stroke-width: 3;
}

.connector-circle {
    fill: white;
    stroke: #67727A;
    stroke-width: 1;
}

.mouseover-connector-circle {
    fill: white;
    stroke: #67727A;
    stroke-width: 3;
}

/*
Style for connections.
*/

.connection {
}

.connection-line {
	stroke: #C3D7DF;
	stroke-width: 3;
	fill: transparent;
}

.mouseover-connection-line {
	stroke: #C3D7DF;
	stroke-width: 4;
	fill: transparent;
}

.selected-connection-line {
	stroke: #D75C37;
	stroke-width: 4;
	fill: transparent;
}

.connection-endpoint {
	fill: #C3D7DF;
}

.selected-connection-endpoint {
	fill: #D75C37;
}

.mouseover-connection-endpoint {
	fill: #C3D7DF;
}

.connection-name{
	fill: #67727A;
}

.selected-connection-name{
	fill: #D75C37;
}

.mouseover-connection-name{
	fill: #C3D7DF;
}
/*
Style for the connection being dragged out.
*/

.dragging-connection {
	pointer-events: none;
}

.dragging-connection-line {
	stroke: #C3D7DF;
	stroke-width: 3;
	fill: transparent;
}

.dragging-connection-endpoint {
	fill: #C3D7DF;
}

/*
The element (in this case the SVG element) that contains the draggable elements.
*/

.draggable-container {
	border: solid 1px;
}

/*
Drag selection rectangle.
*/

.drag-selection-rect {
	stroke: #C3D7DF;
	stroke-width: 2;
	fill: transparent;
}
