
.control {
    top: 0;
    left: 0;
    margin: 8px;
	position: absolute;
}

.blocks {
    top: 0;
    right: 13px;
    margin: 8px;
	position: absolute;
}

/* Dropdown Button */
.dropbtn {
    background-color: #6991AC;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropbtn:focus {
    outline: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 55px;
    background-color: #FCFCFC;
    min-width: 92px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content div, label {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
	color: #6991AC;
    font-weight: bold;
}

.dropdown-content input {
    display:none;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover, label:hover {background-color: #F5F5F5}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    /*background-color: #3B5998;*/
    transform: translate(0px, 5px);
}
