
#terminal {
	right: 0;
	bottom: 0;
	width: 100%;
	height: 280px;
	opacity: 0.0;
	position: absolute;
	float: bottom;
	visibility: hidden;
	color: #DDDDDD;
    background-color: #333333;
	overflow-x: hidden;
	overflow-y: auto;
}


#terminal-header {
    padding: 5px;
    background-color: #222222;
}

#terminal-header button, select {
    color: white;
    background-color: #777777;
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#terminal-header button:active {
    transform:scale(.95);
}

#terminal-header button:hover, select:hover {
	background-color: #888888;
}

#terminal-header button:focus, select:focus {
    outline: 0;
}

#terminal-header svg {
    float: right;
}

#terminal-content {
    margin: 10px;
	white-space: pre-wrap;
	word-wrap: break-word;
	text-overflow: ellipsis;
}

#terminal-input {
    padding: 5px;
	top: 233px;
	width: 100%;
	position: absolute;
    background-color: #222222;
}

#terminal-input input {
	background-color: #DDDDDD;
	padding: 9px;
    font-size: 15px;
    border: none;
	width: 92%;
    border-radius: 5px;
}

#terminal-input button {
    color: white;
    background-color: #777777;
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#terminal-input button:active {
    transform:scale(.95);
}

#terminal-input button:hover {
	background-color: #888888;
}

#terminal-input button:focus, input:focus {
    outline: 0;
}
