
/* FPGAwars light white background style */
body {
    background-color: #eaebec;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding-left: 40px;
}
