<html>
	<head>
		<title>Icestudio</title>
	</head>
	<body
		ng-app="app"
		ng-controller="AppCtrl"
		mouse-capture
		ng-keydown="keyDown($event)"
		ng-keyup="keyUp($event)"
		>
		<div style="width: 100%; overflow: hidden;">
			<!--<div style="width: 300px; float: left;">
 				<textarea
					style="width: 100%; height: 100%;"
					chart-json-edit
					view-model="chartViewModel"
					>
				</textarea>
			</div>-->
			<div class="menu">
				<div class="control">
					<div class="dropdown">
						<button class="dropbtn">File</button>
						<div class="dropdown-content">
							<div ng-click="new()">New</div>
							<label>
								Load<input type="file" action="load" accept=".json"/>
							</label>
							<div ng-click="save()">Save</div>
							<label>
								Save as<input id="saveas" type="file" nwsaveas action="saveas" accept=".json"/>
							</label>
							<div ng-click="examples()">Examples</div>
						</div>
					</div>
					<div class="dropdown">
						<button class="dropbtn">Edit</button>
						<div class="dropdown-content">
							<div ng-click="deleteSelected()">Delete selected</div>
						</div>
					</div>
					<div class="dropdown">
						<button class="dropbtn">View</button>
						<div class="dropdown-content">
							<div ng-click="toggleEditor()">Code</div>
							<div ng-click="toggleTerminal()">Terminal</div>
						</div>
					</div>
					<div class="dropdown" id="build">
						<button class="dropbtn" ng-click="build()">Build</button>
					</div>
					<div class="dropdown" id="upload">
						<button class="dropbtn" ng-click="upload()">Upload</button>
					</div>
				</div>
				<div class="blocks">
					<div class="dropdown">
						<button class="dropbtn">Bit</button>
						<div class="dropdown-content">
							<div ng-click="addNewDriver0Node()">0</div>
							<div ng-click="addNewDriver1Node()">1</div>
						</div>
					</div>
					<div class="dropdown">
						<button class="dropbtn">I/O</button>
						<div class="dropdown-content">
							<div ng-click="addNewInputNode()">Input</div>
							<div ng-click="addNewOutputNode()">Output</div>
						</div>
					</div>
					<div class="dropdown">
						<button class="dropbtn">Logic</button>
						<div class="dropdown-content">
							<div ng-click="addNewNotNode()">Not</div>
							<div ng-click="addNewAndNode()">And</div>
							<div ng-click="addNewOrNode()">Or</div>
							<div ng-click="addNewXorNode()">Xor</div>
						</div>
					</div>
					<div class="dropdown">
						<button class="dropbtn">Comb</button>
						<div class="dropdown-content">
							<div ng-click="addNewMuxNode()">Mux</div>
							<div ng-click="addNewDecNode()">Dec</div>
						</div>
					</div>
					<div class="dropdown">
						<button class="dropbtn">Sec</button>
						<div class="dropdown-content">
							<div ng-click="addNewDivNode()">Div</div>
							<div ng-click="addNewTimerNode()">Timer</div>
							<div ng-click="addNewCounterNode()">Counter</div>
							<div ng-click="addNewFlipflopNode()">Flipflop</div>
							<div ng-click="addNewNotesNode()">Notes</div>
						</div>
					</div>
					<div class="dropdown">
						<button class="dropbtn">Label</button>
						<div class="dropdown-content">
							<div ng-click="addNewLabelInputNode()">Input</div>
							<div ng-click="addNewLabelOutputNode()">Output</div>
						</div>
					</div>
				</div>
			</div>
		    <flow-chart class="flow"
	    		style="color: white; margin: 0px; width: 105%; height: 95%;"
		      	chart="chartViewModel">
		    </flow-chart>
			<div id="editor"></div>
			<div id="terminal"></div>
	   </div>

		<!-- BQ logo. -->
		<div id="BQLogo" class="overlay">
			<img src="img/bq-logo.png">
		</div>

		<!-- Warning -->
		<div id="warning" class="warning">
			Warning: experimental code. Use with caution!
		</div>

		<link rel="stylesheet" type="text/css" href="style/app.css">
		<link rel="stylesheet" type="text/css" href="style/menu.css">
		<link rel="stylesheet" type="text/css" href="style/sweetalert.css">
		<link rel="stylesheet" type="text/css" href="style/alertify.core.css">
		<link rel="stylesheet" type="text/css" href="style/alertify.bootstrap.css">

		<!-- Library code. -->
		<script src="lib/jquery-2.0.2.js" type="text/javascript"></script>
		<script src="lib/angular.js" type="text/javascript"></script>
		<script src="lib/sweetalert.min.js" type="text/javascript"></script>
		<script src="lib/alertify.min.js" type="text/javascript"></script>
		<script src="lib/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

		<!-- Flowchart code. -->
		<script src="flowchart/svg_class.js" type="text/javascript"></script>
		<script src="flowchart/mouse_capture_service.js" type="text/javascript"></script>
		<script src="flowchart/dragging_service.js" type="text/javascript"></script>
		<script src="flowchart/flowchart_viewmodel.js" type="text/javascript"></script>
		<script src="flowchart/flowchart_directive.js" type="text/javascript"></script>

		<!-- App code. -->
		<script src="js/app.js" type="text/javascript"></script>
		<script src="js/blocks/bit/bit.js" type="text/javascript"></script>
		<script src="js/blocks/io/io.js" type="text/javascript"></script>
		<script src="js/blocks/logic/logic.js" type="text/javascript"></script>
		<script src="js/blocks/comb/comb.js" type="text/javascript"></script>
		<script src="js/blocks/sec/sec.js" type="text/javascript"></script>
		<script src="js/blocks/label/label.js" type="text/javascript"></script>

		<!-- Editor -->
		<script>
			var editor = ace.edit("editor");
			editor.setReadOnly(true);
			editor.setTheme("ace/theme/chrome");
			editor.getSession().setMode("ace/mode/verilog");
			document.getElementById('editor').style.fontSize='15px';
		</script>
	</body>
</html>
