[
  {"name": "CLK",  "value": "35", "type": "input"},

  {"name": "LED_R", "value": "39", "type": "output"},
  {"name": "LED_G", "value": "40", "type": "output"},
  {"name": "LED_B", "value": "41", "type": "output"},

  {"name": "GPIO_0", "value": "46", "type": "inout"},
  {"name": "GPIO_1", "value": "47", "type": "inout"},
  {"name": "GPIO_2", "value": "48", "type": "inout"},
  {"name": "GPIO_3", "value": "45", "type": "inout"},
  {"name": "GPIO_4", "value": "44", "type": "inout"},
  {"name": "GPIO_5", "value": "2",  "type": "inout"},
  {"name": "GPIO_6", "value": "4",  "type": "inout"},
  {"name": "GPIO_7", "value": "3",  "type": "inout"},
  {"name": "GPIO_8", "value": "6",  "type": "inout"},
  {"name": "GPIO_9", "value": "9",  "type": "inout"},
  {"name": "GPIO_10", "value": "10", "type": "inout"},
  {"name": "GPIO_11", "value": "11", "type": "inout"},
  {"name": "GPIO_12", "value": "12", "type": "inout"},
  {"name": "GPIO_13", "value": "21", "type": "inout"},
  {"name": "GPIO_14", "value": "13", "type": "inout"},
  {"name": "GPIO_15", "value": "20", "type": "inout"},
  {"name": "GPIO_16", "value": "19", "type": "inout"},
  {"name": "GPIO_17", "value": "18", "type": "inout"},
  {"name": "GPIO_18", "value": "25", "type": "inout"},
  {"name": "GPIO_19", "value": "23", "type": "inout"},
  {"name": "GPIO_20", "value": "27", "type": "inout"},
  {"name": "GPIO_21", "value": "26", "type": "inout"},
  {"name": "GPIO_22", "value": "28", "type": "inout"},
  {"name": "GPIO_23", "value": "31", "type": "inout"},
  {"name": "GPIO_24", "value": "32", "type": "inout"},
  {"name": "GPIO_25", "value": "34", "type": "inout"},
  {"name": "GPIO_26", "value": "37", "type": "inout"},
  {"name": "GPIO_27", "value": "36", "type": "inout"},
  {"name": "GPIO_28", "value": "43", "type": "inout"},
  {"name": "GPIO_29", "value": "38", "type": "inout"},
  {"name": "GPIO_30", "value": "42", "type": "inout"},

  {"name": "SPI_SO",  "value": "14", "type": "output"},
  {"name": "SPI_SI",  "value": "17", "type": "input"},
  {"name": "SPI_SCK", "value": "15", "type": "output"},
  {"name": "SPI_SS",  "value": "16", "type": "output"}
]
