# -----------------------------------------------------------------------------
#- Kefir I HX4K constraint file (.pcf)
# -----------------------------------------------------------------------------

# Capacitive-sense buttons
set_io --warn-no-port BTN1 136  # input
set_io --warn-no-port BTN2 134  # input
set_io --warn-no-port BTN3 128  # input
set_io --warn-no-port BTN4 122  # input

# LED outputs
set_io --warn-no-port LED1 137  # output
set_io --warn-no-port LED2 135  # output
set_io --warn-no-port LED3 129  # output
set_io --warn-no-port LED4 121  # output

# Clock input
set_io --warn-no-port CLK 49  # input

# SPI Flash enable control
set_io --warn-no-port SS_B 71

# ISP SPI
set_io --warn-no-port ISP_RESET 117
set_io --warn-no-port ISP_SCK   118
set_io --warn-no-port ISP_MOSI  119
set_io --warn-no-port ISP_MISO  120

# MCP3008 A/D
set_io --warn-no-port AD_CS   101
set_io --warn-no-port AD_Din  102
set_io --warn-no-port AD_Dout 104
set_io --warn-no-port AD_Clk  105

# USB
set_io --warn-no-port USB_Vp_o 112
set_io --warn-no-port USB_Vm_o 113
set_io --warn-no-port USB_Vm_i 114
set_io --warn-no-port USB_Vp_i 115
set_io --warn-no-port USB_nOE  116

set_io --warn-no-port ARDU00 138
set_io --warn-no-port ARDU01 141
set_io --warn-no-port ARDU02 143
set_io --warn-no-port ARDU03 1
set_io --warn-no-port ARDU04 4
set_io --warn-no-port ARDU05 8
set_io --warn-no-port ARDU06 10
set_io --warn-no-port ARDU07 12
set_io --warn-no-port ARDU08 19
set_io --warn-no-port ARDU09 21
set_io --warn-no-port ARDU10 23
set_io --warn-no-port ARDU11 25
set_io --warn-no-port ARDU12 28
set_io --warn-no-port ARDU13 31
set_io --warn-no-port ARDU26 139
set_io --warn-no-port ARDU27 142
set_io --warn-no-port ARDU28 144
set_io --warn-no-port ARDU29 2
set_io --warn-no-port ARDU30 3
set_io --warn-no-port ARDU31 7
set_io --warn-no-port ARDU32 9
set_io --warn-no-port ARDU33 11
set_io --warn-no-port ARDU34 20
set_io --warn-no-port ARDU35 22
set_io --warn-no-port ARDU36 24
set_io --warn-no-port ARDU37 26
set_io --warn-no-port ARDU38 29
set_io --warn-no-port ARDU39 32
set_io --warn-no-port ARDU40 33
set_io --warn-no-port ARDU41 34

# Arduino Power (P2)
# Active low RESET
set_io --warn-no-port RESET_P2 73

# Milk channel A
set_io --warn-no-port Milk_TXD 37
set_io --warn-no-port Milk_RXD 38
set_io --warn-no-port Milk_RTS 39
set_io --warn-no-port Milk_CTS 41
set_io --warn-no-port Milk_DTR 42
set_io --warn-no-port Milk_DSR 43
set_io --warn-no-port Milk_DCD 44
set_io --warn-no-port Milk_RI  45

# PMOD A
set_io --warn-no-port PMA0 74
set_io --warn-no-port PMA1 75
set_io --warn-no-port PMA2 76
set_io --warn-no-port PMA3 78
set_io --warn-no-port PMA4 79
set_io --warn-no-port PMA5 80
set_io --warn-no-port PMA6 81
set_io --warn-no-port PMA7 87

# PMOD B
set_io --warn-no-port PMB0 88
set_io --warn-no-port PMB1 90
set_io --warn-no-port PMB2 91
set_io --warn-no-port PMB3 95
set_io --warn-no-port PMB4 96
set_io --warn-no-port PMB5 97
set_io --warn-no-port PMB6 98
set_io --warn-no-port PMB7 99

