BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
## FleaFPGA_Ohm_A5 Pin Constraints File
## Author: Valentin Angelovski 
## Date: 15th January 2018
##
## ***** ECP5 PIN DECLARATIONS *****
## USER LED;
IOBUF PORT "n_led1" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
LOCATE COMP "n_led1" SITE "P2" ;
## USB SLAVE UART; ## Swapped in PCB rev 2v4!!!
IOBUF PORT "slave_rx_i" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "slave_tx_o" IO_TYPE=LVCMOS25 ;
IOBUF PORT "slave_cts_i" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
LOCATE COMP "slave_tx_o" SITE "P1" ;
LOCATE COMP "slave_rx_i" SITE "P3" ;
LOCATE COMP "slave_cts_i" SITE "Y2" ;
## 25MHz MASTER CLOCK AND RESET;
IOBUF PORT "sys_clock" IO_TYPE=LVCMOS25 ;
FREQUENCY PORT "sys_clock" 25.000000 MHz ;
IOBUF PORT "sys_reset" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "sys_reset" SITE "T17" ;
LOCATE COMP "sys_clock" SITE "H2" ;
## IOBUF PS/2 AND USB HOST PORTS
IOBUF PORT "PS2_clk1" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "PS2_data1" IO_TYPE=LVCMOS25 PULLMODE=UP ;
LOCATE COMP "PS2_clk1" SITE "K2" ;
LOCATE COMP "PS2_data1" SITE "J1" ;
IOBUF PORT "PS2_clk2" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "PS2_data2" PULLMODE=UP IO_TYPE=LVCMOS25 ;
LOCATE COMP "PS2_clk2" SITE "N2" ;
LOCATE COMP "PS2_data2" SITE "M1" ;
IOBUF PORT "PS2_enable" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
LOCATE COMP "PS2_enable" SITE "N1" ;
## IOBUF RASPI COMPATIBLE GPIO HEADER
## NOTE: GPIO_5, GPIO_7, GPIO_10 AND GPIO_24 MUST ALL BE COMMENTED OUT WHEN USING THESE PINS AS SIGMA DELTA ADC INPUTS!
IOBUF PORT "GPIO_2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GPIO_3" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GPIO_4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_17" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_27" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_22" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_10" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_9" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_11" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_IDSD" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GPIO_5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_13" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_19" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_26" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_14" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_15" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_18" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_23" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_24" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_25" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_8" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_7" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_IDSC" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GPIO_12" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_16" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_20" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_21" IO_TYPE=LVCMOS33 ;
LOCATE COMP "GPIO_2" SITE "D17" ;
LOCATE COMP "GPIO_3" SITE "C18" ;
LOCATE COMP "GPIO_4" SITE "D19" ;
LOCATE COMP "GPIO_17" SITE "F17" ;
LOCATE COMP "GPIO_27" SITE "G18" ;
LOCATE COMP "GPIO_22" SITE "F19" ;
LOCATE COMP "GPIO_10" SITE "G19" ;
LOCATE COMP "GPIO_9" SITE "J19" ;
LOCATE COMP "GPIO_11" SITE "K19" ;
LOCATE COMP "GPIO_IDSD" SITE "N19" ;
LOCATE COMP "GPIO_5" SITE "T20" ;
LOCATE COMP "GPIO_6" SITE "T19" ;
LOCATE COMP "GPIO_13" SITE "N16" ;
LOCATE COMP "GPIO_19" SITE "U18" ;
LOCATE COMP "GPIO_26" SITE "U17" ;
LOCATE COMP "GPIO_14" SITE "C20" ;
LOCATE COMP "GPIO_15" SITE "E17" ;
LOCATE COMP "GPIO_18" SITE "D18" ;
LOCATE COMP "GPIO_23" SITE "E20" ;
LOCATE COMP "GPIO_24" SITE "D20" ;
LOCATE COMP "GPIO_25" SITE "L20" ;
LOCATE COMP "GPIO_8" SITE "M20" ;
LOCATE COMP "GPIO_7" SITE "L19" ;
LOCATE COMP "GPIO_IDSC" SITE "N20" ;
LOCATE COMP "GPIO_12" SITE "R18" ;
LOCATE COMP "GPIO_16" SITE "M17" ;
LOCATE COMP "GPIO_20" SITE "N17" ;
LOCATE COMP "GPIO_21" SITE "P16" ;
##
## SIGMA-DELTA ADC INPUTS 
## NOTE: THESE PIN DEFINITIONS MUST BE COMMENTED OUT WHEN GPIO_5, GPIO_7, GPIO_10 AND GPIO_24 USED AS PLAIN OLD DIGITAL GPIO!
##IOBUF PORT "ADC3_error" IO_TYPE=LVCMOS33 ;
##LOCATE COMP "ADC3_error" SITE "R20" ;
##IOBUF PORT "ADC3_input" IO_TYPE=LVCMOS33D PULLMODE=NONE ;
##LOCATE COMP "ADC3_input" SITE "T20" ;
##LOCATE COMP "ADC2_error" SITE "P20" ;
##IOBUF PORT "ADC2_error" IO_TYPE=LVCMOS33 ;
##IOBUF PORT "ADC2_input" PULLMODE=NONE IO_TYPE=LVCMOS33D ;
##LOCATE COMP "ADC2_input" SITE "L19" ;
##IOBUF PORT "ADC1_error" IO_TYPE=LVCMOS33 ;
#IOBUF PORT "ADC1_input" IO_TYPE=LVCMOS33D ;
##LOCATE COMP "ADC1_input" SITE "G19" ;
##LOCATE COMP "ADC1_error" SITE "J20" ;
##IOBUF PORT "ADC0_input" PULLMODE=NONE IO_TYPE=LVCMOS33D ;
##IOBUF PORT "ADC0_error" IO_TYPE=LVCMOS33 ;
##LOCATE COMP "ADC0_error" SITE "E18" ;
##LOCATE COMP "ADC0_input" SITE "D20" ;
##
## SDRAM;
IOBUF PORT "Dram_Clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_n_Ras" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_CKE" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_n_Cas" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_n_We" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_n_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_DQMH" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_DQML" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_BA[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_BA[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[0]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "Dram_Addr[0]" SITE "B12" ;
LOCATE COMP "Dram_Addr[3]" SITE "A13" ;
LOCATE COMP "Dram_BA[0]" SITE "A12" ;
LOCATE COMP "Dram_BA[1]" SITE "D11" ;
LOCATE COMP "Dram_CKE" SITE "C15" ;
LOCATE COMP "Dram_Clk" SITE "C17" ;
LOCATE COMP "Dram_Addr[1]" SITE "C10" ;
LOCATE COMP "Dram_Addr[2]" SITE "D8" ;
LOCATE COMP "Dram_Addr[4]" SITE "D13" ;
LOCATE COMP "Dram_Addr[5]" SITE "C13" ;
LOCATE COMP "Dram_Addr[6]" SITE "B13" ;
LOCATE COMP "Dram_Addr[7]" SITE "D15" ;
LOCATE COMP "Dram_Addr[8]" SITE "D14" ;
LOCATE COMP "Dram_Addr[9]" SITE "A14" ;
LOCATE COMP "Dram_Addr[11]" SITE "C16" ;
LOCATE COMP "Dram_Addr[12]" SITE "C14" ;
LOCATE COMP "Dram_Addr[10]" SITE "D9" ;
LOCATE COMP "Dram_DQMH" SITE "D16" ;
LOCATE COMP "Dram_DQML" SITE "A11" ;
LOCATE COMP "Dram_n_Cas" SITE "B11" ;
LOCATE COMP "Dram_n_Ras" SITE "C12" ;
LOCATE COMP "Dram_n_We" SITE "D12" ;
LOCATE COMP "Dram_n_cs" SITE "C11" ;
LOCATE COMP "Dram_Data[0]" SITE "A10" ;
LOCATE COMP "Dram_Data[1]" SITE "B9" ;
LOCATE COMP "Dram_Data[2]" SITE "B10" ;
LOCATE COMP "Dram_Data[3]" SITE "A9" ;
LOCATE COMP "Dram_Data[4]" SITE "B8" ;
LOCATE COMP "Dram_Data[5]" SITE "A8" ;
LOCATE COMP "Dram_Data[6]" SITE "C8" ;
LOCATE COMP "Dram_Data[7]" SITE "A7" ;
LOCATE COMP "Dram_Data[8]" SITE "A19" ;
LOCATE COMP "Dram_Data[9]" SITE "B18" ;
LOCATE COMP "Dram_Data[10]" SITE "A18" ;
LOCATE COMP "Dram_Data[11]" SITE "B17" ;
LOCATE COMP "Dram_Data[12]" SITE "A17" ;
LOCATE COMP "Dram_Data[13]" SITE "B15" ;
LOCATE COMP "Dram_Data[14]" SITE "B16" ;
LOCATE COMP "Dram_Data[15]" SITE "A16" ;
## SD/MMC PORT
IOBUF PORT "mmc_miso" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "mmc_dat1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "mmc_dat2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "mmc_n_cs" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "mmc_mosi" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "mmc_clk" IO_TYPE=LVCMOS25 ;
LOCATE COMP "mmc_miso" SITE "C2" ;
LOCATE COMP "mmc_clk" SITE "C3" ;
LOCATE COMP "mmc_mosi" SITE "B2" ;
LOCATE COMP "mmc_n_cs" SITE "B3" ;
## SYSCONFIG PARAMETERS
VCCIO_DERATE PERCENT 0; 
SYSCONFIG CONFIG_IOVOLTAGE=3.3 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE BACKGROUND_RECONFIG=OFF TRANSFR=ON CONFIG_MODE=SPI_SERIAL DONE_OD=OFF DONE_EX=OFF MCCLK_FREQ=38.8 ;
## DIGITAL VIDEO OUT
IOBUF PORT "LVDS_Blue[0]" IO_TYPE=LVDS ;
IOBUF PORT "LVDS_Green[0]" IO_TYPE=LVDS ;
IOBUF PORT "LVDS_Red[0]" IO_TYPE=LVDS ;
IOBUF PORT "LVDS_ck[0]" IO_TYPE=LVDS ;
LOCATE COMP "LVDS_Red[0]" SITE "C1" ;
LOCATE COMP "LVDS_Blue[0]" SITE "A4" ;
LOCATE COMP "LVDS_Green[0]" SITE "A2" ;
LOCATE COMP "LVDS_ck[0]" SITE "G2" ;
