
@font-face {
  font-family: 'Ubuntu';
  src: url('Ubuntu.eot?#iefix') format('embedded-opentype'),  url('Ubuntu.woff') format('woff'), url('Ubuntu.ttf')  format('truetype'), url('Ubuntu.svg#Ubuntu') format('svg');
  font-weight: normal;
  font-style: normal;
}
