# -----------------------------------------------------------------------------
#- TinyFPGA B2 constraint file (.pcf)
#- By Luke Valenty
#- October - 2017
#- GPL license
#- TinyFPGA B-series information: https://github.com/tinyfpga/TinyFPGA-B-Series/
# -----------------------------------------------------------------------------


# ------------ Left side ------------------------------------------------------
set_io --warn-no-port USB_DP A3
set_io --warn-no-port USB_DM A4
set_io --warn-no-port CLK    B4  # input
set_io --warn-no-port PIN_4  B2
set_io --warn-no-port PIN_5  A2
set_io --warn-no-port PIN_6  A1
set_io --warn-no-port PIN_7  B1
set_io --warn-no-port PIN_8  C1
set_io --warn-no-port PIN_9  D1
set_io --warn-no-port PIN_10 E1
set_io --warn-no-port PIN_11 G1
set_io --warn-no-port PIN_12 H1
set_io --warn-no-port PIN_13 J1


# ------------ Right side -----------------------------------------------------
set_io --warn-no-port SDO    G6
set_io --warn-no-port SDI    H7
set_io --warn-no-port SCK    G7
set_io --warn-no-port SS     F7
set_io --warn-no-port PIN_18 D9
set_io --warn-no-port PIN_19 C9
set_io --warn-no-port PIN_20 E8
set_io --warn-no-port PIN_21 A9
set_io --warn-no-port PIN_22 A8
set_io --warn-no-port PIN_23 A7
set_io --warn-no-port PIN_24 A6
