
body {
    background-color: #61c4b4;
    margin-left: 30px;
    margin-right: 30px;
}

ul {
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 5px black;
}

span {
    font-weight: bold;
    color: #305eac;
}