# -----------------------------------------------------------------------------
#- Alhambra II constraint file (.pcf)
#- By Juan Gonzalez (Obijuan) and Jesus Arroyo Torrens
#- May - 2018
#- GPL license
#- Repo: https://github.com/FPGAwars/Alhambra-II-FPGA
# -----------------------------------------------------------------------------


# ------------ User Leds ------------------------------------------------------
set_io --warn-no-port LED0 45  # output
set_io --warn-no-port LED1 44  # output
set_io --warn-no-port LED2 43  # output
set_io --warn-no-port LED3 42  # output
set_io --warn-no-port LED4 41  # output
set_io --warn-no-port LED5 39  # output
set_io --warn-no-port LED6 38  # output
set_io --warn-no-port LED7 37  # output

# ------------ User push buttons ----------------------------------------------
set_io --warn-no-port SW1 34  # input
set_io --warn-no-port SW2 33  # input

# ------------ 5v Digital I/O -------------------------------------------------

# --- Top Female header
#   ---------------------------------------   -------------------------------
#  |  SCL SDA AR GND D13 D12 D11 D10 D9 D8 | | D7 D6  D5  D4  D3  D2  D1  D0 |
#   ---------------------------------------   -------------------------------
#
#                     Male, 3 pin connectors
#
#               Gnd   *   *   *   *   *  *      *  *  *   *   *   *   *   * Gnd
#               Vcc   *   *   *   *   *  *      *  *  *   *   *   *   *   * Vcc
#               S     *   *   *   *   *  *      *  *  *   *   *   *   *   * S
#
#
#                                                     Male, 3 pin connectors
#                                                     *   *   *   *   *   *
#                                                     *   *   *   *   *   *
#                                                     *   *   *   *   *   *
# --- Bottom female header
#               -------------------------------     -------------------------
#              |  x 5V  R 3v3 5vP  GND GND PWR |   | DD0 DD1 DD2 DD3 DD4 DD5 |
#               -------------------------------     -------------------------

# -- In top female header
set_io --warn-no-port D13 64
set_io --warn-no-port D12 63
set_io --warn-no-port D11 21
set_io --warn-no-port D10 22
set_io --warn-no-port D9  19
set_io --warn-no-port D8  20
set_io --warn-no-port D7   9
set_io --warn-no-port D6  10
set_io --warn-no-port D5   7
set_io --warn-no-port D4   8
set_io --warn-no-port D3   3
set_io --warn-no-port D2   4
set_io --warn-no-port D1   1
set_io --warn-no-port D0   2

# -- In Bottom female header
set_io --warn-no-port DD0 114
set_io --warn-no-port DD1 115
set_io --warn-no-port DD2 116
set_io --warn-no-port DD3 117
set_io --warn-no-port DD4 118
set_io --warn-no-port DD5 119

set_io --warn-no-port SDA 118
set_io --warn-no-port SCL 119

# -------------------------- I2C ADC ------------------------------------------
set_io --warn-no-port ADC_SCL 84  # output
set_io --warn-no-port ADC_SDA 83
set_io --warn-no-port ADC_INT 90  # input

# -------------------------- SYSTEM CLOCK -------------------------------------
set_io --warn-no-port CLK 49  # input

# -------------------------- FTDI ---------------------------------------------
# --- FTDI 0:
set_io --warn-no-port RES  66  # input
set_io --warn-no-port DONE 65  # output
set_io --warn-no-port SS   71  # output
set_io --warn-no-port MISO 68  # input
set_io --warn-no-port MOSI 67  # output
set_io --warn-no-port SCK  70  # output
#
# --- FTDI 1: (Serial port)
set_io --warn-no-port DCD 47  # output
set_io --warn-no-port DSR 48  # output
set_io --warn-no-port DTR 52  # input
set_io --warn-no-port CTS 56  # output
set_io --warn-no-port RTS 60  # input
set_io --warn-no-port TX  61  # output
set_io --warn-no-port RX  62  # input
