LOCATE COMP "CLK" SITE "A9"; # input
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;

LOCATE COMP "LED[1]" SITE "K4"; # output
LOCATE COMP "LED[2]" SITE "M3"; # output
LOCATE COMP "LED[3]" SITE "J3"; # output

LOCATE COMP "RST" SITE "T15"; # inout
LOCATE COMP "A[0]" SITE "L4"; # inout
LOCATE COMP "A[1]" SITE "N3"; # inout
LOCATE COMP "A[2]" SITE "N4"; # inout
LOCATE COMP "A[3]" SITE "H4"; # inout
LOCATE COMP "A[4]" SITE "G4"; # inout
LOCATE COMP "A[5]" SITE "T17"; # inout
LOCATE COMP "SCK" SITE "R17"; # inout
LOCATE COMP "MOSI" SITE "N16"; # inout
LOCATE COMP "MISO" SITE "N15"; # inout
LOCATE COMP "G[0]" SITE "N17"; # inout
LOCATE COMP "G[1]" SITE "M18"; # inout
LOCATE COMP "SDA" SITE "C10"; # inout
LOCATE COMP "SCL" SITE "C9"; # inout
LOCATE COMP "G[5]" SITE "B10"; # inout
LOCATE COMP "G[6]" SITE "B9"; # inout
LOCATE COMP "G[9]" SITE "C8"; # inout
LOCATE COMP "G[10]" SITE "B8"; # inout
LOCATE COMP "G[11]" SITE "A8"; # inout
LOCATE COMP "G[12]" SITE "H2"; # inout
LOCATE COMP "G[13]" SITE "J2"; # inout

# TODO: add PROGRAMN and PULLMODEs if any

IOBUF PORT "LED[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "LED[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "LED[3]" IO_TYPE=LVCMOS33;

IOBUF PORT "RST" IO_TYPE=LVCMOS33;
IOBUF PORT "A[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "A[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "A[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "A[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "A[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "A[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "SCK" IO_TYPE=LVCMOS33;
IOBUF PORT "MOSI" IO_TYPE=LVCMOS33;
IOBUF PORT "MISO" IO_TYPE=LVCMOS33;
IOBUF PORT "G[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "G[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "SDA" IO_TYPE=LVCMOS33;
IOBUF PORT "SCL" IO_TYPE=LVCMOS33;
IOBUF PORT "G[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "G[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "G[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "G[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "G[11]" IO_TYPE=LVCMOS33;
IOBUF PORT "G[12]" IO_TYPE=LVCMOS33;
IOBUF PORT "G[13]" IO_TYPE=LVCMOS33;
