.joint-paper-background {
    background: #FFFFFF;
}

.ice-bar {
    color: #333;
    background: #f5f6f7;
    border-bottom: 1px solid #e7e7e7;
}

.footer {
    color: #333;
    background: #f5f6f7;
    border-top: 1px solid #d5dadd;
}

.dropdown a {
    color: #333 !important;
}

.navbar-nav>.open>a {
    background: #e7e7e7 !important;
}

.dropdown-menu>li>a:hover {
    background: #eee !important;
    color: #333;
}

.dropdown-menu>li>a:focus {
    background: #eee !important;
    color: #333;
}

.dropdown:active {
    background: #eee;
}

.dropdown-menu {
    background: #f5f6f7 !important;
}

.dropdown-menu>li>a {
    background: #f5f6f7;
    color: #333;
}

.dropdown-submenu {
    background: #f5f6f7;
}

.divider {
    background: #e5e5e5 !important;
}

.breadcrumbs-container {
    padding-left: 5px;
}

.breadcrumb {
    background: #f5f6f7;
}

.breadcrumb>.active {
    color: #333;
}

.breadcrumb span {
    color: #333;
}

.breadcrumb a {
    color: #007aff;
}

.info {
    color: #656565;
    background: #fff;
}

.info-block .info-render {
    color: #656565;;
}

.markdown-body {
    color: #24292e !important;
}

.markdown-body a {
    color: #0366d6;
    text-decoration: none;
}

.markdown-body table th {
    background: #efefef;
    border: 1px solid #aaa;
}

.markdown-body table td {
    background: #fff;
    border: 1px solid #aaa;
}

.markdown-body pre {
    color: #24292e;
    background: #f6f8fa;
}

.read-only {
    color: #444;
    background: #fb959e; 
}

.back-button {
    color: #007aff;
    background: #f6f8fa;
}

.edit-button {
    background: rgba(0,0,0,0);
}

.io-block .io-virtual-content {
    background: #E2FBC9;
}

.io-block .io-virtual-content .header label {
    color: #333 !important;
    font-weight: bold !important;
}

.sk-cube-grid .sk-cube {
    background-color: #333;
}

.spinner-wrapper--bg {
    background-color: #7ccff4;
}

/*ICM*/
.icm-menu-button::before {
    background: linear-gradient(#7ccff4 20%, transparent 20%, transparent 40%, #7ccff4 40%, #7ccff4 60%, transparent 60%, transparent 80%, #7ccff4 80%)
}
.icm-menu {
	background-color: #f5f6f7;
}
.icm-morph-shape {
	fill: #f5f6f7;
}
.icm-icon-list span{
	color: #333;
}
/*END_ICM*/

.ajs-dialog {
    background: #fff !important;
}

.ajs-body {
    color: #000 !important;
}

.ajs-footer {
    background: #fff !important;
}

.ajs-button {
    color: #333 !important;
    background: #fff !important;
    border-radius: 4px;
}
.ajs-ok{
   color: #3593d2 !important;
}

.ajs-input,
.form-control {
    color: #333;
    background: #fff !important;
    border: 1px solid rgb(118, 118, 118) !important;
}
/*NOK*/
.generic-block .generic-content {
    background: #C0DFEB;
    border: 1px solid #777;
}

.io-block .io-fpga-content {
    background: #FBFBC9;
    border: 1px solid #777 !important; 

}

.select2-container--default .select2-selection--single {

    border: 1px solid #aaa; 
    border-radius: 4px;
    background-color: #fff;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #333;
}

.select2-selection__clear {
    color: #777;
}
/*NOK*/
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #777 transparent transparent transparent;
}


.constant-block .constant-content input {
    border: 1px solid #777;
    background-color: #fff;
}

.io-block .io-fpga-content .header label{
    text-transform:uppercase;
}

.memory-block .memory-content {
    background: #FBFBC9; 
    border: 1px solid #777;
}

.constant-block .constant-content{
    background: #FBFBC9;
    border: 1px solid #777;
}
/*NOK*/
.config-block {
    background: #FBFBC9 !important;
}

.code-block .code-content {
    background: #C0DFEB;
    border: 1px solid #777; 
}

.info-block .info-content {
    background: #DDD;
    border: 1px solid #777;
}

.io-block .io-virtual-content {
     border: 1px solid #777; 
}


.io-block .io-virtual-content {
  border: 1px solid #777 !important;
  background-size: cover !important;
  border-radius:5px !important;
  mix-blend-mode: screen;
}

.io-block .io-virtual-content .header {
    margin-top: 12px;
}

.highlight{
  border: 6px solid rgba(255,0,0,1) !important;
  border-radius: 13px;
  width: 120px;
  height: 64px !important;
  position: relative;
  top: -25px;
  padding-top: 19px !important;
  left: -13px
}
.greyedout{
  opacity: 0.2;
}

/* Label-Finder */
.lFinder-popup{
  display: block;
  opacity: 1;
  position: fixed;
  width: 500px;
  height: 42px;
  background: #f5f6f7;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  border: 1px solid rgba(220,220,220,1);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  animation: fadeIn 0.2s ease;
}
.lifted{
  opacity: 1;
  top: -100px;
  animation: fadeOut 0.2s ease;
 }
@keyframes fadeIn{
  0%    {opacity: 0;
         top: -100px;}
  100%  {opacity: 1;
         top: 42px;  }
}
@keyframes fadeOut{
  0%    {opacity: 1;
         top: 42px;}
  100%  {opacity: 0;
         top: -100px;  }
}
.lFinder-advanced--toggle {
  position: absolute;
  width: 8px;
  height: 30px;
  top: 5px;
  left: 10px;
  content: url(/resources/images/icons/light_chevron-right.svg);
  opacity: 0.3;
}
.lFinder-advanced--toggle:hover{
  opacity: 1;
}
.lFinder-advanced--toggle.on{
  transform: rotate(90deg);
}
.lFinder-case--option {
  position: absolute;
  width: 20px;
  height: 30px;
  top: 5px;
  left: 50px;
  content: url(/resources/images/icons/light_case-sensitive.svg);
  opacity: 0.3;
}
.lFinder-case--option.on {
  opacity: 1;
}
.lFinder-exact--option {
  position: absolute;
  width: 15px;
  height: 30px;
  top: 5px;
  left: 85px;
  content: url(/resources/images/icons/light_exact-match.svg);
  opacity: 0.3;
}
.lFinder-exact--option.on {
  opacity: 1;
}
.lFinder-field {
  position: absolute;
  width: 155px;
  height: 30px;
  top: 5px;
  left: 115px;
  background: rgba(255,255,255,1);
  border: 1px solid #eee;
  border-radius: 4px;
  color: rgba(0,0,0,0.75);
  padding-left: 8px;
  line-height: 30px;
  padding-right: 50px;
}
.lFinder-field:focus{
  border-radius: 4px;
  outline: none;
}
.lFinder-field::placeholder{
  color: rgba(0,0,0,0.25);
}
.items-found {
  position: absolute;
  line-height: 30px;
  top: 5px;
  left: 230px;
  color: rgba(30,30,30,0.75);
}
.lFinder-find {
  position: absolute;
  width: 100px;
  height: 30px;
  left: 360px;
  top: 5px;
  text-align: center;
  line-height: 30px;
  color: #333;
  border: 1px solid #eee;
  border-radius: 4px;
  opacity: 1;
  background: #eee0;
}
.lFinder-find:hover {
  opacity: 1;
  background: #eeef;
}
.lFinder-prev {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 275px;
  color: #fff;
  line-height: 30px;
  border: 0px solid #fff;
  border-radius: 4px;
  text-align: center;
  opacity: 0.3;
  background: rgba(220,220,220,0);
  content: url(/resources/images/icons/light_left-arrow.svg);
}
.lFinder-prev:hover {
  opacity: 1;
}
.lFinder-next {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 310px;
  color: #fff;
  line-height: 30px;
  border: 0px solid #fff;
  border-radius: 4px;
  text-align: center;
  opacity: 0.3;
  background: rgba(220,220,220,0);
  content: url(/resources/images/icons/light_right-arrow.svg);
}
.lFinder-next:hover {
  opacity: 1;
}
.lFinder-close {
  position: absolute;
  width: 10px;
  height: 30px;
  top: 0px;
  right: 10px;
  content: url(/resources/images/icons/light_cross.svg);
  opacity: 0.3;
}
.lFinder-close:hover {
  opacity: 1;
}
.lFinder-advanced {
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 0px;
  top: 45px;
  left: -1px;
  background: #f5f6f7;
  border: 1px solid rgba(220,220,220,1);
  border-radius: 4px;
  opacity: 0;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  animation: fadeOut_adv 0.2s ease;
}
.lFinder-advanced.show{
  height: 77px;
  opacity: 1;
  animation: fadeIn_adv 0.2s ease;
}
@keyframes fadeIn_adv{
  0%    {opacity: 0;
         height: 0px;}
  100%  {opacity: 1;
         height: 75px;  }
}
@keyframes fadeOut_adv{
  0%    {opacity: 1;
         height: 75px;}
  100%  {opacity: 0;
         height: 0px;  }
}
.lFinder-name {
  position: absolute;
  width: 100px;
  height: 30px;
  left: 10px;
  top: 5px;
  color: rgba(30,30,30,0.5);
  text-align: right;
  line-height: 30px;
}
.lFinder-name--field {
  position: absolute;
  width: 160px;
  height: 30px;
  top: 5px;
  left: 115px;
  background: rgba(255,255,255,1);
  border: 1px solid #eee;
  border-radius: 4px;
  color: rgba(0,0,0,0.75);
  padding-left: 8px;
  line-height: 30px;
  padding-right: 8px;
}
.lFinder-name--field:focus{
  border-radius: 4px;
  outline: none;
}
.lFinder-color {
  position: absolute;
  width: 100px;
  height: 30px;
  top: 40px;
  left: 10px;
  text-align: right;
  color: rgba(30,30,30,0.5);
  line-height: 30px;
}
.lFinder-color--dropdown{
  position: fixed;
  width: 160px;
  height: 30px;
  background: rgba(255,255,255,1);
  left: 115px;
  top: 85px;
  border-radius: 4px;
}
.lf-dropdown-title{
  position: relative;
  width: 160px;
  height: 30px;
  background: rgba(0,0,0,0);
  border-radius: 4px;
  line-height: 30px;
  padding-left: 25px;
  color: #333;
}
.lf-selected-color{
  position: absolute;
  width: 10px;
  height: 10px;
  left: 8px;
  top: 10px;
  border-radius: 5px;
  border: none !important;
}
.lf-dropdown-icon{
  content: url(/resources/images/icons/light_chevron-right.svg);
  position: absolute;
  height: 10px;
  width: 10px;
  right: 8px;
  top: 10px;
  transform: rotate(90deg);
}
.lf-dropdown-menu{
  width: 160px;
  height: 0px;
  position: relative;
  top: 0px;
  border-radius: 0 0 4px 4px;
  background: rgba(255,255,255,1);
  overflow-y: auto;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  animation: fadeOut_dropdown 0.2s ease;
}
.lf-dropdown-menu.show{
  height: 300px;
  animation: fadeIn_dropdown 0.2s ease;
}
@keyframes fadeIn_dropdown{
  0%    {opacity: 0;
         height: 0px;}
  100%  {opacity: 1;
         height: 300px;  }
}
@keyframes fadeOut_dropdown{
  0%    {opacity: 1;
         height: 300px;}
  100%  {opacity: 0;
         height: 0px;  }
}
.lf-dropdown-option{
  position: relative;
  width: 140px;
  height: 30px;
  color: #333;
  line-height: 30px;
  padding-left: 25px;
  border-radius: 4px;
}
.lf-dropdown-option:hover{
  color: #333;
  background: #eee;
}
.lf-option-color{
  position: absolute;
  width: 10px;
  height: 10px;
  left: 8px;
  top: 10px;
  border-radius: 5px;
  border: none !important;
}
.lFinder-replace--name {
  position: absolute;
  width: 100px;
  height: 30px;
  background: rgba(220,220,220,0);
  opacity: 1;
  color: #333;
  line-height: 30px;
  text-align: center;
  left: 280px;
  top: 5px;
  border-radius: 4px;
  border: 1px solid #eee;
}
.lFinder-replace--name:hover{
  opacity: 1;
  background: #eeef;
}
.lFinder-change--color {
  position: absolute;
  width: 100px;
  height: 30px;
  background: rgba(220,220,220,0);
  opacity: 1;
  color: #333;
  line-height: 30px;
  text-align: center;
  left: 280px;
  top: 40px;
  border-radius: 4px;
  border: 1px solid #eee;
}
.lFinder-change--color:hover {
  opacity: 1;
  background: #eeef;
}
.lFinder-replace--all {
  position: absolute;
  width: 110px;
  height: 30px;
  right: 10px;
  top: 5px;
  text-align: center;
  line-height: 30px;
  color: #333;
  border: 1px solid #eee;
  border-radius: 4px;
  background: rgba(220,220,220,0);
  opacity: 1;
}
.lFinder-replace--all:hover {
  opacity: 1;
  background: #eeef;
}

/* color-dropdown in forms panel */
.lb-color--dropdown{
  position: relative;
  width: 510px;
  height: 40px;
  top: 0px;
  left: 5px;
  text-align: right;
  color: #333;
  line-height: 30px;
  background: rgba(255,255,255,1);
  border: 1px solid #333;
  border-radius: 4px;
}
.lb-dropdown-title{
  position: relative;
  width: 100%;
  height: 38px;
  background: rgba(0,0,0,0);
  border-radius: 4px;
  line-height: 38px;
  padding-left: 30px;
  color: #333;
  left: 0px;
  text-align: left;
}
.lb-selected-color{
  position: absolute;
  width: 10px;
  height: 10px;
  left: 10px;
  top: 14px;
  border-radius: 5px;
  border: none !important;
}
.lb-dropdown-icon{
  content: url(/resources/images/icons/light_chevron-right.svg);
  position: absolute;
  height: 10px;
  width: 10px;
  right: 10px;
  top: 14px;
  transform: rotate(90deg);
}
.lb-dropdown-menu{
  width: 100%;
  height: 0px; /* change to 0px */
  position: relative;
  top: 0px;
  border-radius: 0 0 4px 4px;
  background: #fff;
  overflow-y: auto;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  animation: fadeOut_dropdown 0.2s ease;
}
.lb-dropdown-menu.show{
  height: 300px;
  animation: fadeIn_dropdown 0.2s ease;
}
.lb-dropdown-option{
  position: relative;
  width: 100%;
  height: 30px;
  color: #333;
  line-height: 30px;
  padding-left: 30px;
  border-radius: 4px;
  text-align: left;
}
.lb-dropdown-option:hover{
  color: #333;
  background: #eee;
}
.lb-option-color{
  position: absolute;
  width: 10px;
  height: 10px;
  left: 10px;
  top: 10px;
  border-radius: 5px;
  border: none !important;
}
/*END MOD_0*/

/* toolbox */
#iceToolbox .title-bar{
  position: relative;
  width: 100%;
  height: 30px;
  border-radius: 4px;
  color: #333;
  line-height: 26px;
  padding-left: 10px;
}
.closeToolbox-button{
  position: absolute;
  width: 10px;
  height: 10px;
  right: 8px;
  content: url(/resources/images/icons/light_cross.svg);
  top: 8px;
  text-align: center;
  line-height: 30px;
  opacity: 0.3;
}
.closeToolbox-button:hover{
  opacity: 1;
}
#iceToolbox.opened .dropdown-menu{
  margin-top: 25px;
}

/* Colors */
.color-indianred{
  background: rgba(205,92,92,0.6)  !important;
}
.color-red{
  background:  rgba(255,0,0,0.6) !important;
}
.color-deeppink{
  background:  rgba(255,20,147,0.6) !important;
}
.color-mediumvioletred{
  background:  rgba(199,21,133,0.6) !important;
}
.color-coral{
  background:  rgba(255,127,80,0.6) !important;
}
.color-orangered{
  background:  rgba(255,69,0,0.6)   !important;
}
.color-darkorange{
  background:  rgba(255,140,0,0.6) !important;
}
.color-gold{
  background:  rgba(255,215,0,0.6)  !important;
}
.color-yellow{
  background:  rgba(255,255,0,0.6) !important;
} 
.color-fuchsia{
  background:  rgba(255,0,255,0.6) !important;
}
.color-slateblue{
  background:  rgba(106,90,205,0.6) !important;
}
.color-greenyellow{
  background:  rgba(173,255,47,0.6) !important;
}
.color-springgreen{
  background:  rgba(0,255,127,0.6)  !important;
}
.color-darkgreen{
  background:  rgba(0,100,0,0.6)  !important;
}
.color-olivedrab{
  background:  rgba(107,142,35,0.6)!important;
}
.color-lightseagreen{
  background:  rgba(32,178,170,0.6) !important;
}
.color-turquoise{
  background:  rgba(64,224,208,0.6) !important;
}
.color-steelblue{
  background:  rgba(70,130,180,0.6) !important;
}
.color-deepskyblue{
  background:  rgba(0,191,255,0.6)  !important;
}
.color-royalblue{
  background:  rgba(65,105,225,0.6) !important;
}
.color-navy{
  background:  rgba(0,0,128,0.6)  !important;
}
.color-lightgray{
  background:  rgba(180,180,180,0.6)  !important;
}

.markdown-body pre>code {
  color:#2ecc71;
}

.markdown-body pre{
  background:#444;
  border-color:#333;
  border-radius:5px;
}

.icon--verify{
  display:block;
  width:100%;
  height:100%;
  min-height:100%;
  background:url(../../images/icons/verify_light.svg) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon--build{
  display:block;
  width:100%;
  height:100%;
  min-height:100%;
  background:url(../../images/icons/build_light.svg) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon--upload{
  display:block;
  width:100%;
  height:100%;
  min-height:100%;
  background:url(../../images/icons/upload_light.svg) center center;
  background-repeat: no-repeat;
  background-size: contain;
}