<!DOCTYPE html>
<div ng-controller="DesignCtrl">
  <div class="banner hidden">
    <div class="info">&nbsp;{{ information.name }}&nbsp;{{ information.version ? '-&nbsp;v' + information.version + '&nbsp;' : '' }}</div>
    <div class="read-only">
        <div class="leftColumn">
        </div>
        <div class="rightColumn">
            <b>{{'Read only' | translate }}</b> {{': '}} {{'Unlock to edit block !' | translate }}
        </div>   
    </div>
    <a class="back-button" ng-click="breadcrumbsBack()">&larr;&nbsp;{{'back' | translate }}&nbsp;</a>
  </div>
  
  <div class="banner-submodule hidden">
        <a class="edit-button" ng-click="editModeToggle($event)"><img src="resources/images/lock.png" data-lock="resources/images/lock.png" data-unlock="resources/images/unlock.png">
            <span class="tooltiptext">{{'CAUTION ! : Changes will also be applied in all the copied' | translate }}
                <b>{{ information.name }}</b>
                {{'blocks of the current .ice design. If you do not want a propagation of a change, make it inside a cloned block (instead of copied one)' | translate }} &nbsp;
            </span>
        </a>
  </div>

  <!-- LabelFinder PopUp -->
  <div class="lFinder-popup lifted">
    <div class="lFinder-advanced--toggle"></div>
    <div class="lFinder-case--option"></div>
    <div class="lFinder-exact--option"></div>
    <input type="text" class="lFinder-field">
      <span class="items-found">0/0</span>
    </input>
    <div class="lFinder-find">Find</div>
    <div class="lFinder-prev">Prev</div>
    <div class="lFinder-next">Next</div> 
    <div class="lFinder-close"></div> 
    <div class="lFinder-advanced">
      <span class="lFinder-name">new name:</span>
      <input class="lFinder-name--field"></input>
      <div class="lFinder-replace--name">Replace one</div>
      <span class="lFinder-color">new color:</span>
      <div class="lFinder-color--dropdown">
        <div class="lf-dropdown-title"><span class="lf-selected-color color-fuchsia" data-color="fuchsia" data-name="Fuchsia"></span>Fuchsia<span class="lf-dropdown-icon"></span></div>
        <div class="lf-dropdown-menu">
          <div class="lf-dropdown-option" data-color="indianred" data-name="IndianRed"><span class="lf-option-color color-indianred"></span>IndianRed</div>
          <div class="lf-dropdown-option" data-color="red" data-name="Red"><span class="lf-option-color color-red"></span>Red</div>
          <div class="lf-dropdown-option" data-color="deeppink" data-name="DeepPink"><span class="lf-option-color color-deeppink"></span>DeepPink</div>
          <div class="lf-dropdown-option" data-color="mediumvioletred"data-name="MediumVioletRed"><span class="lf-option-color color-mediumvioletred"></span>MediumVioletRed</div>
          <div class="lf-dropdown-option" data-color="coral"data-name="Coral"><span class="lf-option-color color-coral"></span>Coral</div>
          <div class="lf-dropdown-option" data-color="orangered"data-name="OrangeRed"><span class="lf-option-color color-orangered"></span>OrangeRed</div>
          <div class="lf-dropdown-option" data-color="darkorange"data-name="DarkOrange"><span class="lf-option-color color-darkorange"></span>DarkOrange</div>
          <div class="lf-dropdown-option" data-color="gold"data-name="Gold"><span class="lf-option-color color-gold"></span>Gold</div>
          <div class="lf-dropdown-option" data-color="yellow"data-name="Yellow"><span class="lf-option-color color-yellow"></span>Yellow</div>
          <div class="lf-dropdown-option" data-color="fuchsia"data-name="Fuchsia"><span class="lf-option-color color-fuchsia"></span>Fuchsia</div>
          <div class="lf-dropdown-option" data-color="slateblue"data-name="SlateBlue"><span class="lf-option-color color-slateblue"></span>SlateBlue</div>
          <div class="lf-dropdown-option" data-color="greenyellow"data-name="GreenYellow"><span class="lf-option-color color-greenyellow"></span>GreenYellow</div>
          <div class="lf-dropdown-option" data-color="springgreen"data-name="SpringGreen"><span class="lf-option-color color-springgreen"></span>SpringGreen</div>
          <div class="lf-dropdown-option" data-color="darkgreen"data-name="DarkGreen"><span class="lf-option-color color-darkgreen"></span>DarkGreen</div>
          <div class="lf-dropdown-option" data-color="olivedrab"data-name="OliveDrab"><span class="lf-option-color color-olivedrab"></span>OliveDrab</div>
          <div class="lf-dropdown-option" data-color="lightseagreen"data-name="LightSeaGreen"><span class="lf-option-color color-lightseagreen"></span>LightSeaGreen</div>
          <div class="lf-dropdown-option" data-color="turquoise"data-name="Turquoise"><span class="lf-option-color color-turquoise"></span>Turquoise</div>
          <div class="lf-dropdown-option" data-color="steelblue"data-name="SteelBlue"><span class="lf-option-color color-steelblue"></span>SteelBlue</div>
          <div class="lf-dropdown-option" data-color="deepskyblue"data-name="DeepSkyBlue"><span class="lf-option-color color-deepskyblue"></span>DeepSkyBlue</div>
          <div class="lf-dropdown-option" data-color="royalblue"data-name="RoyalBlue"><span class="lf-option-color color-royalblue"></span>RoyalBlue</div>
          <div class="lf-dropdown-option" data-color="navy"data-name="Navy"><span class="lf-option-color color-navy"></span>Navy</div>
          <div class="lf-dropdown-option" data-color="lightgray"data-name="LightGray"><span class="lf-option-color color-lightgray"></span>LightGray</div>
        </div>
      </div>
      <div class="lFinder-change--color">Change Color</div>
      <div class="lFinder-replace--all">Replace All</div>
    </div>
  </div>

  <!-- Basic Toolbox -->
  <div id="iceToolbox">
    <ul  class="dropdown-menu">
    <div class="title-bar">Basic Toolbox</div>
    <div class="closeToolbox-button"></div>
      <li>
        <a href=""  class="iceToolbox--item js-shortcut--action" data-item="input">
          <div class="marker marker-blue"></div>{{ 'Input' | translate }}
        </a>
        <a href=""    class="iceToolbox--item js-shortcut--action" data-item="output">
          <div class="marker marker-blue"></div>{{ 'Output' | translate }}
        </a>
        <a href=""    class="iceToolbox--item js-shortcut--action" data-item="labelInput">
          <div class="marker marker-fuchsia"></div>{{ 'Input label' | translate }}
        </a>
        <a href=""   class="iceToolbox--item js-shortcut--action" data-item="labelOutput">
          <div class="marker marker-fuchsia"></div>{{ 'Output label' | translate }}
        </a>
        <a href=""   class="iceToolbox--item js-shortcut--action" data-item="constant">
          <div class="marker marker-orange"></div>{{ 'Constant' | translate }}
        </a>
        <a href=""   class="iceToolbox--item js-shortcut--action" data-item="memory">
          <div class="marker marker-orange"></div>{{ 'Memory' | translate }}
        </a>
        <a href=""   class="iceToolbox--item js-shortcut--action" data-item="code">
          <div class="marker marker-blue"></div>{{ 'Code' | translate }}
        </a>
        <a href=""  class="iceToolbox--item js-shortcut--action" data-item="information">
          <div class="marker marker-gray"></div>{{ 'Information' | translate }}
        </a>
      </li>
    </ul>
  </div>
  <div class="paper"></div>
  <div class="footer ice-bar">
    <div class="breadcrumbs-container">
      <ol class="breadcrumb">
        <li ng-repeat="item in graph.breadcrumbs" ng-class="{active: $last}" ng-switch="$last">
          <span ng-switch-when="true">{{ item.name }}</span>
          <a href ng-click="breadcrumbsNavitate(item)" ng-switch-default>{{ item.name }}</a>
        </li>
      </ol>
    </div>
    <div class="board-container">
      <div class="fpga-resources" ng-show="common.selectedBoard && topModule && profile.data.showFPGAResources">
      
       <div>  
        <!-- 3 next fields with percentage precision higher than the nextpnr one -->
        <span>
          {{ (common.hasChangesSinceBuild || !common.FPGAResources.nextpnr) ? ('-') 
          : (common.FPGAResources.nextpnr.Field0.name+' : '+common.FPGAResources.nextpnr.Field0.used+' / '+common.FPGAResources.nextpnr.Field0.total+' ( '+(common.FPGAResources.nextpnr.Field0.used/common.FPGAResources.nextpnr.Field0.total*100).toFixed(1)+'%)') }}
        </span>
        
        <span>
          {{ (common.hasChangesSinceBuild || !common.FPGAResources.nextpnr) ? ('-') 
          : (common.FPGAResources.nextpnr.Field1.name+' : '+common.FPGAResources.nextpnr.Field1.used+' / '+common.FPGAResources.nextpnr.Field1.total+' ( '+(common.FPGAResources.nextpnr.Field1.used/common.FPGAResources.nextpnr.Field1.total*100).toFixed(1)+'%)') }}
        </span>
        
        <span>
          {{ (common.hasChangesSinceBuild || !common.FPGAResources.nextpnr) ? ('-') 
          : (common.FPGAResources.nextpnr.Field2.name+'&nbsp;:&nbsp;&nbsp;'+common.FPGAResources.nextpnr.Field2.used+'&nbsp;/'+common.FPGAResources.nextpnr.Field2.total+'&nbsp;&nbsp;(&nbsp;'+(common.FPGAResources.nextpnr.Field2.used/common.FPGAResources.nextpnr.Field2.total*100).toFixed(1)+'%)') }}
        </span>
        
          <!-- 3 next fields with percentage precision from nextpnr -->
        <span>
          {{ (common.hasChangesSinceBuild || !common.FPGAResources.nextpnr) ? ('-') 
          : (common.FPGAResources.nextpnr.Field3.name+'&nbsp;:&nbsp;&nbsp;'+common.FPGAResources.nextpnr.Field3.used+'&nbsp;/'+common.FPGAResources.nextpnr.Field3.total+'&nbsp;&nbsp;(&nbsp;'+common.FPGAResources.nextpnr.Field3.percentage+'%)') }}
        </span>
        </div>
        
        <div>         
        <span>
          {{ (common.hasChangesSinceBuild || !common.FPGAResources.nextpnr) ? ('-') 
          : (common.FPGAResources.nextpnr.Field10.name+' : '+common.FPGAResources.nextpnr.Field10.used+' / '+common.FPGAResources.nextpnr.Field10.total+' ( '+common.FPGAResources.nextpnr.Field10.percentage+'%)') }}
        </span>
        
        <span>
          {{ (common.hasChangesSinceBuild || !common.FPGAResources.nextpnr) ? ('-') 
          : (common.FPGAResources.nextpnr.Field11.name+' : '+common.FPGAResources.nextpnr.Field11.used+' / '+common.FPGAResources.nextpnr.Field11.total+' ( '+common.FPGAResources.nextpnr.Field11.percentage+'%)') }}
        </span>
        
       <!-- 2 next fields with no percentage -->
        
        <span>
          {{ (common.hasChangesSinceBuild || !common.FPGAResources.nextpnr) ? ('-') 
          : (common.FPGAResources.nextpnr.Field12.name+' : '+common.FPGAResources.nextpnr.Field12.used+' / '+common.FPGAResources.nextpnr.Field12.total) }}
        </span>
        
        <span>
          {{ (common.hasChangesSinceBuild || !common.FPGAResources.nextpnr) ? ('-') 
          : (common.FPGAResources.nextpnr.Field13.name+'&nbsp;:&nbsp;&nbsp;'+common.FPGAResources.nextpnr.Field13.used&nbsp;&nbsp;+'/'+&nbsp;&nbsp;common.FPGAResources.nextpnr.Field13.total) }}
        </span>
        
        
        <span>
          MaxFreq.:&nbsp;&nbsp;{{ (common.hasChangesSinceBuild || !common.FPGAResources.nextpnr) ? '-' 
          : (common.FPGAResources.nextpnr.MF.value+'&nbsp;MHz') }}
        </span>
        
        <span>
          BuildTime&nbsp;:&nbsp;&nbsp;{{ (common.hasChangesSinceBuild || !common.FPGAResources.nextpnr) ? '-' 
          : (common.FPGAResources.nextpnr.BUILDT.value +'&nbsp;'+common.FPGAResources.nextpnr.BUILDT.unit ) }}
        </span>
        
        </div>
      

      </div>
      {{ common.selectedBoard.info.label }}
      <div class="shortcut-toolbox">
        <a href="" class="shortcut-toolbox--item js-shortcut--action" uib-tooltip="{{ 'Verify' | translate }}" tooltip-append-to-body="true" data-item="verify" ><i class="icon--verify"></i></a>
        <a href="" class="shortcut-toolbox--item js-shortcut--action" uib-tooltip="{{ 'Build' | translate }}" tooltip-append-to-body="true" data-item="build"><i class="icon--build"></i></a>
        <a href="" class="shortcut-toolbox--item js-shortcut--action" uib-tooltip="{{ 'Upload' | translate }}" tooltip-append-to-body="true" data-item="upload"><i class="icon--upload"></i></a>  

    </div>
    </div>
  </div>
</div>
