<!DOCTYPE html>
<div ng-controller="DesignCtrl">
  <div class="banner hidden">
    <div class="info">&nbsp;{{ information.name }}&nbsp;{{ information.version ? '-&nbsp;v' + information.version + '&nbsp;' : '' }}</div>
    <div class="read-only">&nbsp;{{ 'Read only' | translate }}&nbsp;</div>
    <a class="back-button" ng-click="breadcrumbsBack()">&nbsp;&lt;&nbsp;{{ 'back' | translate }}&nbsp;</a>
  </div>
  <div class="banner-submodule hidden">
      <a class="edit-button" ng-click="editModeToggle($event)"><img src="resources/images/lock.png" data-lock="resources/images/lock.png" data-unlock="resources/images/unlock.png"></a>
  </div>

  <div class="paper"></div>
  <div class="footer ice-bar">
    <div class="breadcrumbs-container">
      <ol class="breadcrumb">
        <li ng-repeat="item in graph.breadcrumbs" ng-class="{active: $last}" ng-switch="$last">
          <span ng-switch-when="true">{{ item.name }}</span>
          <a href ng-click="breadcrumbsNavitate(item)" ng-switch-default>{{ item.name }}</a>
        </li>
      </ol>
    </div>
    <div class="board-container">
      <div class="fpga-resources" ng-show="common.selectedBoard && topModule && profile.data.showFPGAResources">
      
       <div>  
        <!-- 3 next fields with percentage precision higher than the nextpnr one -->
        <span>
          {{ (common.hasChangesSinceBuild || !common.FPGAResources.nextpnr) ? ('-') 
          : (common.FPGAResources.nextpnr.Field0.name+' : '+common.FPGAResources.nextpnr.Field0.used+' / '+common.FPGAResources.nextpnr.Field0.total+' ( '+(common.FPGAResources.nextpnr.Field0.used/common.FPGAResources.nextpnr.Field0.total*100).toFixed(1)+'%)') }}
        </span>
        
        <span>
          {{ (common.hasChangesSinceBuild || !common.FPGAResources.nextpnr) ? ('-') 
          : (common.FPGAResources.nextpnr.Field1.name+' : '+common.FPGAResources.nextpnr.Field1.used+' / '+common.FPGAResources.nextpnr.Field1.total+' ( '+(common.FPGAResources.nextpnr.Field1.used/common.FPGAResources.nextpnr.Field1.total*100).toFixed(1)+'%)') }}
        </span>
        
        <span>
          {{ (common.hasChangesSinceBuild || !common.FPGAResources.nextpnr) ? ('-') 
          : (common.FPGAResources.nextpnr.Field2.name+'&nbsp;:&nbsp;&nbsp;'+common.FPGAResources.nextpnr.Field2.used+'&nbsp;/'+common.FPGAResources.nextpnr.Field2.total+'&nbsp;&nbsp;(&nbsp;'+(common.FPGAResources.nextpnr.Field2.used/common.FPGAResources.nextpnr.Field2.total*100).toFixed(1)+'%)') }}
        </span>
        
          <!-- 3 next fields with percentage precision from nextpnr -->
        <span>
          {{ (common.hasChangesSinceBuild || !common.FPGAResources.nextpnr) ? ('-') 
          : (common.FPGAResources.nextpnr.Field3.name+'&nbsp;:&nbsp;&nbsp;'+common.FPGAResources.nextpnr.Field3.used+'&nbsp;/'+common.FPGAResources.nextpnr.Field3.total+'&nbsp;&nbsp;(&nbsp;'+common.FPGAResources.nextpnr.Field3.percentage+'%)') }}
        </span>
        </div>
        
        <div>         
        <span>
          {{ (common.hasChangesSinceBuild || !common.FPGAResources.nextpnr) ? ('-') 
          : (common.FPGAResources.nextpnr.Field10.name+' : '+common.FPGAResources.nextpnr.Field10.used+' / '+common.FPGAResources.nextpnr.Field10.total+' ( '+common.FPGAResources.nextpnr.Field10.percentage+'%)') }}
        </span>
        
        <span>
          {{ (common.hasChangesSinceBuild || !common.FPGAResources.nextpnr) ? ('-') 
          : (common.FPGAResources.nextpnr.Field11.name+' : '+common.FPGAResources.nextpnr.Field11.used+' / '+common.FPGAResources.nextpnr.Field11.total+' ( '+common.FPGAResources.nextpnr.Field11.percentage+'%)') }}
        </span>
        
       <!-- 2 next fields with no percentage -->
        
        <span>
          {{ (common.hasChangesSinceBuild || !common.FPGAResources.nextpnr) ? ('-') 
          : (common.FPGAResources.nextpnr.Field12.name+' : '+common.FPGAResources.nextpnr.Field12.used+' / '+common.FPGAResources.nextpnr.Field12.total) }}
        </span>
        
        <span>
          {{ (common.hasChangesSinceBuild || !common.FPGAResources.nextpnr) ? ('-') 
          : (common.FPGAResources.nextpnr.Field13.name+'&nbsp;:&nbsp;&nbsp;'+common.FPGAResources.nextpnr.Field13.used&nbsp;&nbsp;+'/'+&nbsp;&nbsp;common.FPGAResources.nextpnr.Field13.total) }}
        </span>
        
        
        <span>
          MaxFreq.:&nbsp;&nbsp;{{ (common.hasChangesSinceBuild || !common.FPGAResources.nextpnr) ? '-' 
          : (common.FPGAResources.nextpnr.MF.value+'&nbsp;MHz') }}
        </span>
        
        <span>
          BuildTime&nbsp;:&nbsp;&nbsp;{{ (common.hasChangesSinceBuild || !common.FPGAResources.nextpnr) ? '-' 
          : (common.FPGAResources.nextpnr.BUILDT.value +'&nbsp;'+common.FPGAResources.nextpnr.BUILDT.unit ) }}
        </span>
        
        </div>
      

      </div>
      {{ common.selectedBoard.info.label }}
    </div>
  </div>
</div>
