<div class="jtk-demo-main" ng-controller="FlowChartCtrl">
<!-- demo -->
    <div class="jtk-demo-canvas canvas-wide flowchart-demo jtk-surface jtk-surface-nopan" id="canvas">
        <div class="window jtk-node" id="flowchartWindow1"><strong>1</strong><br/><br/></div>
        <div class="window jtk-node" id="flowchartWindow2"><strong>2</strong><br/><br/></div>
        <div class="window jtk-node" id="flowchartWindow3"><strong>3</strong><br/><br/></div>
        <div class="window jtk-node" id="flowchartWindow4"><strong>4</strong><br/><br/></div>
    </div>
    <!-- /demo -->
</div>
