<!-- HTML file for rendering the Edit/Preferences/Language menu 
     It is included in the menu.html file 
-->

<!-- The language selected by the user is located in the profile.data.language
     Global property
-->

<!-- If you want to include new languages, you should edit this file -->

<!DOCTYPE html>
<li>
  <a href ng-click="selectLanguage('en')">
    {{ 'English' | translate }}&ensp;
    <span ng-show="profile.data.language == 'en'" class="glyphicon glyphicon-ok-circle"></span>
  </a>
</li>
<li>
  <a href ng-click="selectLanguage('es_ES')">
    {{ 'Spanish' | translate }}&ensp;
    <span ng-show="profile.data.language == 'es_ES'" class="glyphicon glyphicon-ok-circle"></span>
  </a>
</li>
<li>
  <a href ng-click="selectLanguage('fr_FR')">
    {{ 'French' | translate }}&ensp;
    <span ng-show="profile.data.language == 'fr_FR'" class="glyphicon glyphicon-ok-circle"></span>
  </a>
</li>
<li>
  <a href ng-click="selectLanguage('it_IT')">
    {{ 'Italian' | translate }}&ensp;
    <span ng-show="profile.data.language == 'it_IT'" class="glyphicon glyphicon-ok-circle"></span>
  </a>
</li>
<li>
  <a href ng-click="selectLanguage('de_DE')">
    {{ 'German' | translate }}&ensp;
    <span ng-show="profile.data.language == 'de_DE'" class="glyphicon glyphicon-ok-circle"></span>
  </a>
</li>
<li>
  <a href ng-click="selectLanguage('nl_NL')">
    {{ 'Dutch' | translate }}&ensp;
    <span ng-show="profile.data.language == 'nl_NL'" class="glyphicon glyphicon-ok-circle"></span>
  </a>
</li>
<li>
  <a href ng-click="selectLanguage('cs_CZ')">
    {{ 'Czech' | translate }}&ensp;
    <span ng-show="profile.data.language == 'cs_CZ'" class="glyphicon glyphicon-ok-circle"></span>
  </a>
</li>
<li>
  <a href ng-click="selectLanguage('el_GR')">
    {{ 'Greek' | translate }}&ensp;
    <span ng-show="profile.data.language == 'el_GR'" class="glyphicon glyphicon-ok-circle"></span>
  </a>
</li>
<li>
  <a href ng-click="selectLanguage('zh_TW')">
    {{ 'Taiwan' | translate }}&ensp;
    <span ng-show="profile.data.language == 'zh_TW'" class="glyphicon glyphicon-ok-circle"></span>
  </a>
</li>
<li>
  <a href ng-click="selectLanguage('zh_CN')">
    {{ 'Chinese' | translate }}&ensp;
    <span ng-show="profile.data.language == 'zh_CN'" class="glyphicon glyphicon-ok-circle"></span>
  </a>
</li>
<li>
  <a href ng-click="selectLanguage('ru_RU')">
    {{ 'Russian' | translate }}&ensp;
    <span ng-show="profile.data.language == 'ru_RU'" class="glyphicon glyphicon-ok-circle"></span>
  </a>
</li>
<li>
  <a href ng-click="selectLanguage('gl_ES')">
    {{ 'Galician' | translate }}&ensp;
    <span ng-show="profile.data.language == 'gl_ES'" class="glyphicon glyphicon-ok-circle"></span>
  </a>
</li>
<li>
  <a href ng-click="selectLanguage('eu_ES')">
    {{ 'Basque' | translate }}&ensp;
    <span ng-show="profile.data.language == 'eu_ES'" class="glyphicon glyphicon-ok-circle"></span>
  </a>
</li>
<li>
  <a href ng-click="selectLanguage('ca_ES')">
    {{ 'Catalan' | translate }}&ensp;
    <span ng-show="profile.data.language == 'ca_ES'" class="glyphicon glyphicon-ok-circle"></span>
  </a>
</li>
<li>
  <a href ng-click="selectLanguage('ko_KR')">
    {{ 'Korean' | translate }}&ensp;
    <span ng-show="profile.data.language == 'ko_KR'" class="glyphicon glyphicon-ok-circle"></span>
  </a>
</li>
