<!DOCTYPE html>
<div id="version-info-tab" class="hidden">
    <div class="version-info-tab--bg"></div>
    <div class="version-info-tab--body">
        <div class="version-info-tab--body--content">

            <h1>Icestudio WIP build ({{ version }})</h1>
            <hr>
            <h2>Welcome to Icestudio!</h2>
            <p>This is a Work in Progress version (WIP) which includes the latest commits</p>

            <p>You can read the latest release notes on the
                <a ng-click="openUrl('https://github.com/FPGAwars/icestudio/wiki/Release-history', $event)" 
                href="https://github.com/FPGAwars/icestudio/wiki/Release-history">Release History WIKI</a>  
            </p>


            </p>


            <!-- Last nightly-->

            <h2>{{ 'Acknowledgment' | translate }}</h2>
            <p>This release has been possible thanks to the great work done by
                <a ng-click="openUrl('https://github.com/cavearr', $event)" href="https://github.com/cavearr">Carlos Venegas</a>
                (Charliva at FPGAwars community and @cavearr at GitHub or Twitter). We all in the FPGAwars community appreciate it very much. You rock! Thank you very much!</p>
               
                <p><strong>This is a WIP build and there can be some bugs. If you find one, please submit an issue at <a ng-click="openUrl('https://github.com/FPGAwars/icestudio/issues', $event)" href="https://github.com/FPGAwars/icestudio/issues">Icestudio repository</a>. Write the tag [WIP] in the issue subject</a></strong></p>
            <br>
            <p>Icestudio is part of <a ng-click="openUrl('http://fpgawars.github.io/')">FPGAwars</a> community</p>
        </div>

    <div class="version-info-tab--options">
        <div class="version-info-tab--options--group"><input type="checkbox" name="version-info-tab--no-display"><label for="version-info-tab--no-display">{{ 'Don\'t display' | translate }}</label></div>
        <div class="version-info-tab--options--group"></div>
        <div class="version-info-tab--options--group util--text-align-right"><button ng-click="closeVersionInfoWindow()">{{ 'Close' | translate }}</button></div>
    </div>

    </div>
</div>
