<!DOCTYPE html>
<div id="version-info-tab"  class="hidden">
    <div class="version-info-tab--bg"></div>
    <div class="version-info-tab--body">
        <div class="version-info-tab--body--content">

            <h1>{{ 'Icestudio nightly build (v0.5.1n200403)' | translate }}</h1>
            <hr>
            <p>{{ 'Welcome to Icestudio: This version is focused on upgrading core components, fixing bugs, compatibility with OSX Mojave and Catalina and some optimizations, oriented to better handle large designs. To highlight, this version works with nextpnr and supports the ECP5 FPGA family, and it includes the first attempt at a plugin system, including a working serial terminal.' | translate }}</p>
            <br/>
            <h2>{{ 'Plugin system in progress' | translate }}</h2>
            <p>{{ 'This version includes the first plugin system core. The developer\'s API is coming, and soon you can develop plugins to extend Icestudio functionality.' | translate }}</p>
            <p>{{ 'For the moment, plugins developed help us to define the public API and specifications, providing, along the way, amazing functionalities for users.' | translate }}</p>
            <p>{{ 'In this release you can play with a serial terminal embedded in Icestudio - very powerful for testing purposes.' | translate }}</p>
            <p><img class="img-responsive" src="resources/images/version-notes/0.5.1n200331/serial-terminal.jpg"></p>
            <br/>
            <h2>NEXTPNR toolchain and ECP5 READY!</h2>
            <p>Special thanks to micko for providing support for nextpnr toolchain in both APIO and Icestudio. Now the ECP5 FPGA family can be used in Icestudio. That is a big step forward!</p>

            <br/>
            <h2>{{'New SOCs' | translate }}</h2>
            <p>{{'It has never been so easy to implement a SOC in an FPGA. Drag and Drop your cores!' | translate }}</p>
            <p>{{'Download or clone repositories and use these SOCs as Icestudio blocks:' | translate }}</p>

            <p><a  ng-click="openUrl('https://github.com/Obijuan/j1a-icestudio',$event)" href="https://github.com/Obijuan/j1a-icestudio">J1A-SWAPFORTH SOC for Icestudio</a> by <a   ng-click="openUrl('https://github.com/Obijuan',$event)" href="https://github.com/Obijuan">Obijuan</a>.</p>
            <p><a  ng-click="openUrl('https://github.com/Obijuan/Z80-FPGA',$event)" href="https://github.com/Obijuan/Z80-FPGA">Z80 SOC for Icestudio</a> by <a   ng-click="openUrl('https://github.com/Obijuan',$event)" href="https://github.com/Obijuan">Obijuan</a>.</p>
            <p><a   ng-click="openUrl('https://github.com/Obijuan/RISC-V-FPGA',$event)" href="https://github.com/Obijuan/RISC-V-FPGA">RISC-V SOC for Icestudio</a> by <a   ng-click="openUrl('https://github.com/Obijuan',$event)" href="https://github.com/Obijuan">Obijuan</a>.</p>
            <br/>
            <h2>{{'New collections' | translate }}</h2>
            <p>{{ 'A collection is a group of blocks ready to use. There are a lot of powerful blocks!:'| translate}}</p>
            <p><a  ng-click="openUrl('https://github.com/FPGAwars/Collection-Jedi',$event)"  href="https://github.com/FPGAwars/Collection-Jedi">New blocks in the indispensable Jedi Collection</a> by <a   ng-click="openUrl('https://github.com/Obijuan',$event)" href="https://github.com/Obijuan">Obijuan</a></p>
            <p><a  ng-click="openUrl('https://github.com/ionhsFP/Coleccion-FPGA-Icestudio',$event)"  href="https://github.com/ionhsFP/Coleccion-FPGA-Icestudio">Components used in the Spanish vocational training centers on electronic maintenance </a> by <a ng-click="openUrl('https://twitter.com/ionhs_FP',$event)" href="https://twitter.com/ionhs_FP">Ion Hernández</a>.</p>
            <p><a  ng-click="openUrl('https://github.com/FPGAwars/Collection-stdio',$event)"  href="https://github.com/FPGAwars/Collection-stdio">Blocks for Standard Input-Output in different devices.</a> by <a   ng-click="openUrl('https://github.com/Obijuan',$event)" href="https://github.com/Obijuan">Obijuan</a></p>
            <p><a  ng-click="openUrl('https://github.com/cavearr/icecrystal',$event)"  href="https://github.com/cavearr/icecrystal">Icestudio Block Collection to drive graphic displays from Open Source FPGAs</a> by <a ng-click="openUrl('https://github.com/cavearr',$event)" href="https://github.com/cavearr">Carlos Venegas</a>.</p>
            <p><a  ng-click="openUrl('https://github.com/sergicuen/collection-iPxs',$event)"  href="https://github.com/sergicuen/collection-iPxs">Icestudio PiXel Stream collection. Generate video VGA or static images</a> by <a ng-click="openUrl('https://github.com/sergicuen',$event)" href="https://github.com/sergicuen">Sergio Cuenca</a>.</p>
            <p><a  ng-click="openUrl('https://github.com/juanmard/collection-Pong',$event)"  href="https://github.com/juanmard/collection-Pong">Icestudio PiXel Stream collection for the game Pong</a>  by <a ng-click="openUrl('https://github.com/juanmard',$event)" href="https://github.com/juanmard">Juan Manuel Rico</a>.</p>
            <p><a  ng-click="openUrl('https://github.com/set-soft/collection-kefir_i',$event)"  href="https://github.com/set-soft/collection-kefir_i">Collection for the Kefir I board in Icestudio</a> by <a ng-click="openUrl('https://github.com/set-soft',$event)" href="https://github.com/set-soft">Salvador E. Tropea</a>.</p>
            <br/>

            <h2>{{'New community blocks' | translate }}</h2>
            <p><a  ng-click="openUrl('https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/fpga-wars-explorando-el-lado-libre/lea8VkKIhV4/VzAMxtBUBwAJ',$event)"  href="https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/fpga-wars-explorando-el-lado-libre/lea8VkKIhV4/VzAMxtBUBwAJ">OLED blocks and experiments</a> by  <a  ng-click="openUrl('https://github.com/Democrito',$event)"  href="https://github.com/Democrito">Demócrito</a>.</p>
            <p><a  ng-click="openUrl('https://github.com/vascodh/Chapuzas-con-FPGA-S-Libres/tree/master/Controladores/Esp8266-ESP-01',$event)"  href="https://github.com/vascodh/Chapuzas-con-FPGA-S-Libres/tree/master/Controladores/Esp8266-ESP-01">ESP8266-ESP-01 WIFI block</a> by <a  ng-click="openUrl('https://github.com/vascodh',$event)"  href="https://github.com/vascodh">Diego Harosteguy</a>.</p>
            <p><a   ng-click="openUrl('https://github.com/Democrito/FPGA-peripherals/tree/master/SPI16bits',$event)"  href="https://github.com/Democrito/FPGA-peripherals/tree/master/SPI16bits">16 bit SPI Master</a> by <a  ng-click="openUrl('https://github.com/Democrito',$event)"  href="https://github.com/Democrito">Demócrito</a>.</p>
            <p><a  ng-click="openUrl('https://github.com/Democrito/FPGA-peripherals/tree/master/I2C_only_write',$event)"   href="https://github.com/Democrito/FPGA-peripherals/tree/master/I2C_only_write">Write only I2C</a> by <a   ng-click="openUrl('https://github.com/Democrito',$event)" href="https://github.com/Democrito">Demócrito</a>.</p>
            <br/>
            <h2>{{'On the Media'}}</h2>
            <p>{{ 'We remind you of this video that explains the new feature of copy-paste or copy-clone block, recorded by' | translate }} <a  ng-click="openUrl('https://twitter.com/Obijuan_cube',$event)" href="https://twitter.com/Obijuan_cube" >@Obijuan_cube</a>:</p>
            <div class="video-responsive">
                <a  ng-click="openUrl('https://www.youtube.com/watch?v=mxnWXmacY1I',$event)"  href="https://www.youtube.com/watch?v=mxnWXmacY1I"><img class="img-responsive" src="resources/images/version-notes/0.5.1-nightly/poster.png"></a>
            </div>
 <br/>
            <h2>{{'Community News' | translate }}</h2>
            <p><a  ng-click="openUrl('https://hackaday.io/project/164932-axiom-100kw-motor-controller',$event)"  href="https://hackaday.io/project/164932-axiom-100kw-motor-controller">Marcos Chaparro and his team</a> have been finalists in the  <a  ng-click="openUrl('https://prize.supplyframe.com/',$event)"  href="https://prize.supplyframe.com/">Hackaday prize 2019</a>!, using Icestudio and the FPGA open source toolchain.</p>
            <br/>
            <h2>{{'Acknowledgment' | translate }}</h2>
            <p>This release has been possible thanks to the great work done by Carlos Venegas (Charliva at FPGAwars community and @cavearr at github or twitter). We all in the FPGAwars community appreciate it very much. You rock! Thank you very much!</p>
            <p>Thanks to Tim Rudy (https://github.com/TimRudy) for language fixes.</p>
            <br/>
            <br/>
            <p><strong>This is a nightly build and there can be some bugs. If you find one, please submit an issue at <a  ng-click="openUrl('https://github.com/FPGAwars/icestudio/issues',$event)" href="https://github.com/FPGAwars/icestudio/issues">Icestudio repository</a>, indicating with a tag [nightly] in the issue subject</a></strong></p>
            <br>
            <p>Icestudio is part of <a ng-click="openUrl('http://fpgawars.github.io/')">FPGAwars</a> community</p>
        </div>
    <div class="version-info-tab--options">
        <div class="version-info-tab--options--group"><input type="checkbox" name="version-info-tab--no-display"><label for="version-info-tab--no-display">{{ 'Don\'t display' | translate }}</label></div>
        <div class="version-info-tab--options--group"></div>
        <div class="version-info-tab--options--group util--text-align-right"><button ng-click="closeVersionInfoWindow()" >{{ 'Close' | translate }}</button></div>
    </div>

    </div>
</div>
