<!DOCTYPE html>
<div id="version-info-tab"  class="hidden">
    <div class="version-info-tab--bg"></div>
    <div class="version-info-tab--body">
        <div class="version-info-tab--body--content">
            <h1>{{ 'August 2019 (version 0.5.0-dev-inception)' | translate }}</h1>
            <hr>
            <p>{{ 'Wellcome to Inception, Icestudio version, focused on submodules.' | translate }}</p>
            <p>{{ 'There are a number of updates in this version that we hope you will like, some of the key highlights include:' | translate }}</p>
            
            <h2>{{'Submodule edition' | translate }}</h2>
            <p>{{'This version improve the edition capatabilities, including the possibility of editing block contents.' | translate }}</p>
            <p style="padding:20px;"><img style="width:100%;max-width:927px;" src="resources/images/version-notes/0.5.0-dev/block-edition.gif"></p>

            <h2>{{'Copy & Paste OR Copy & Clone blocks' | translate }}</h2>
            <p>{{'Submodule edition affect at all of the same block types. For example if you have in you design six AND blocks, if you modify one of them, yo modify all of them.' | translate }}</p>
            <p>{{'This is a very powerfull feature to maintain large designs.' | translate }}</p>

            <p  style="padding:20px;"><img  style="width:100%;max-width:927px;" src="resources/images/version-notes/0.5.0-dev/copy-paste.gif"></p>
            <p>{{'In other way, if you copy and clone a block, you make it independently of the original block type and  the modifications only affect at this new block type' | translate }}</p>
            <p>{{'If you are clonning blocks, it is very important than you change block information to identify the new block features.' | translate }}</p>
            
            <p style="padding:20px;"><img  style="width:100%;max-width:927px;" src="resources/images/version-notes/0.5.0-dev/copy-clone.gif"></p>
            <h2>{{'Generic blocks' |translate}}</h2>
            <p>{{'If you are developing a collection, you can make Generic blocks that works as templates. When you insert a generic block from a collection, acts as a clone for rapidly modifications without do a copy and clone operation.'|translate}}</p>
            <p>{{'To do it, only is necessary that prefix the block identifier with Generic-' |translate}}</p>

            <p style="padding:20px;"><img  style="width:100%;max-width:927px;" src="resources/images/version-notes/0.5.0-dev/generic.gif"></p>
            <h2>{{'Labels' |translate}}</h2>
            <p>{{'The use of labels permits clarify larger designs, connecting blocks without wires.'|translate}}</p>
 
            <p style="padding:20px;"><img  style="width:100%;max-width:927px;" src="resources/images/version-notes/0.5.0-dev/labels.gif"></p>
            <h2>{{'Automatic check for new versions' |translate }}</h2>
            <p>{{'Because Icestudio is in actively development it is important to stay your icestudio in the last version. Now we are notifying you!'|translate}}</p>

            <p style="padding:20px;"><img  style="width:100%;max-width:927px;" src="resources/images/version-notes/0.5.0-dev/checkforupdates.gif"></p>
            

        </div>
    <div class="version-info-tab--options">
        <div class="version-info-tab--options--group"><input type="checkbox" name="version-info-tab--no-display"><label for="version-info-tab--no-display">{{ 'Don\'t display' | translate }}</label></div>
        <div class="version-info-tab--options--group"></div>
        <div class="version-info-tab--options--group util--text-align-right"><button ng-click="closeVersionInfoWindow()" >{{ 'Close' | translate }}</button></div>
    </div>

    </div>
</div>
