<!DOCTYPE html>
<div id="version-info-tab"  class="hidden">
    <div class="version-info-tab--bg"></div>
    <div class="version-info-tab--body">
        <div class="version-info-tab--body--content">

            <h1>{{ 'Icestudio  (v0.5.1)' | translate }}</h1>
            <hr>
            <p>{{ 'Welcome to Icestudio, this version is focused on upgrading core components, fixing bugs, and some optimizations, oriented to better handle large designs.' | translate }}</p>
            <p>{{ 'We hope you enjoy this new version, if you want to know the new features included you can view this video recorded by' | translate }} <a  ng-click="openUrl('https://twitter.com/Obijuan_cube',$event)" href="https://twitter.com/Obijuan_cube" >@Obijuan_cube</a>:</p>
            <div class="video-responsive">
                <a  ng-click="openUrl('https://www.youtube.com/watch?v=mxnWXmacY1I',$event)"  href="https://www.youtube.com/watch?v=mxnWXmacY1I"><img class="img-responsive" src="resources/images/version-notes/0.5.1-nightly/poster.png"></a>
            </div>
            <br/>
            <h2>{{'New SOCs' | translate }}</h2>
            <p>{{'It has never been so easy to implement a SOC in an FPGA. Introducing the first two blocks to implement RISC-V and Z80 processors!' | translate }}</p>
            <p>{{'Download or clone and use these SOCs as Icestudio blocks:' | translate }}</p>
            <p><a  ng-click="openUrl('https://github.com/Obijuan/Z80-FPGA',$event)" href="https://github.com/Obijuan/Z80-FPGA">Z80 SOC for Icestudio</a> by <a   ng-click="openUrl('https://github.com/Obijuan',$event)" href="https://github.com/Obijuan">Obijuan</a>.</p>
            <p><a   ng-click="openUrl('https://github.com/Obijuan/RISC-V-FPGA',$event)" href="https://github.com/Obijuan/RISC-V-FPGA">RISC-V SOC for Icestudio</a> by <a   ng-click="openUrl('https://github.com/Obijuan',$event)" href="https://github.com/Obijuan">Obijuan</a>.</p>
            <br/>
            <h2>{{'New community blocks' | translate }}</h2>
            <p><a  ng-click="openUrl('http://fpgawars.github.io/',$event)"  href="http://fpgawars.github.io/">FPGAWars</a> {{'community has been very active and there are interesting new blocks for Icestudio:' | translate }}</p>
            <p><a  ng-click="openUrl('https://github.com/FPGAwars/Collection-Jedi',$event)"  href="https://github.com/FPGAwars/Collection-Jedi">New blocks in the indispensable Jedi Collection</a>.</p>
            <p><a   ng-click="openUrl('https://github.com/Democrito/FPGA-peripherals/tree/master/SPI16bits',$event)"  href="https://github.com/Democrito/FPGA-peripherals/tree/master/SPI16bits">16bit SPI Master</a> by <a  ng-click="openUrl('https://github.com/Democrito',$event)"  href="https://github.com/Democrito">Demócrito</a>.</p>
            <p><a  ng-click="openUrl('https://github.com/Democrito/FPGA-peripherals/tree/master/I2C_only_write',$event)"   href="https://github.com/Democrito/FPGA-peripherals/tree/master/I2C_only_write">Write only i2C</a> by <a   ng-click="openUrl('https://github.com/Democrito',$event)" href="https://github.com/Democrito">Demócrito</a>.</p>
            <br/>
            <h2>{{'Community News' | translate }}</h2>
            <p><a  ng-click="openUrl('https://hackaday.io/project/164932-axiom-100kw-motor-controller',$event)"  href="https://hackaday.io/project/164932-axiom-100kw-motor-controller">Marcos Chaparro and his team</a> have been finalists in the  <a  ng-click="openUrl('https://prize.supplyframe.com/',$event)"  href="https://prize.supplyframe.com/">Hackaday prize 2019</a>!, using Icestudio and the FPGA open source toolchain.</p>
            <br/>
            <br/>
            <p><strong>This is a nightly build and there can be some bugs. If you find one, please submit an issue at <a  ng-click="openUrl('https://github.com/cavearr/icestudio/issues',$event)" href="https://github.com/cavearr/icestudio/issues">cavearr repository</a></strong></p>

        </div>
    <div class="version-info-tab--options">
        <div class="version-info-tab--options--group"><input type="checkbox" name="version-info-tab--no-display"><label for="version-info-tab--no-display">{{ 'Don\'t display' | translate }}</label></div>
        <div class="version-info-tab--options--group"></div>
        <div class="version-info-tab--options--group util--text-align-right"><button ng-click="closeVersionInfoWindow()" >{{ 'Close' | translate }}</button></div>
    </div>

    </div>
</div>
