LOCATE COMP "CLK" SITE "A9";
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;

LOCATE COMP "LED1" SITE "K4";
LOCATE COMP "LED2" SITE "M3";
LOCATE COMP "LED3" SITE "J3";

IOBUF PORT "LED1" IO_TYPE=LVCMOS33;
IOBUF PORT "LED2" IO_TYPE=LVCMOS33;
IOBUF PORT "LED3" IO_TYPE=LVCMOS33;